<div class="news_panel">
	<span class="news_filter">Показывать новости за </span>
	{years_list}
	<a href="#" data-year="{year}" data-newscount="{news_count}" data-pid="{pid}" class="news_year {selected}">{year}{txt}</a>
	{/years_list}
	<div class="count_filter">
		<span class="news_filter">по </span>
		<div class="select_outer_news">
			<select name="news_count" id="news_count">
				{news_count_list}
				<option value="{count}" data-pid="{pid}" {selected}>{count}</option>
				{/news_count_list}
			</select>
		</div>
		<span class="news_filter"> на страницу</span>
	</div>
</div>
<div class="text_bg news_bg">
<ul id="news_list">
{list}
	<li {?%2}style="margin-left: 5%;"{/?%2}>
		<div class="date">
			<span>{date}</span>
		</div>
		<div class="note_wrap">
			<p class="title">{title}</p>
			{?note}
				<div class="note">
					{note}
				</div>
			{/?note}
			<a href="{url}">подробнее...</a>
			<div class="gray_line"></div>
		</div>
	</li>
	{?%2}<div class="clear"></div>{/?%2}
{/list}
	<div class="clear"></div>
{pagination}
</ul>
</div>

<script type="text/javascript">
	(function($) {
		$(document).ready(function() {
			ui_init('.content');
		});
	})(jQuery);
</script>