<span>Показывать новости за </span>
{years_list}
<a href="#" data-year="{year}" data-newscount="{news_count}" data-pid="{pid}" class="news_year {selected}">{year}{txt}</a>
{/years_list}
<span>по </span>
<select name="news_count" id="news_count">
	{news_count_list}
	<option value="{count}" data-pid="{pid}" {selected}>{count}</option>
	{/news_count_list}
</select>
<span> на страницу</span>
<ul id="news_list">
{list}
	<li>
		<div class="note_wrap">
			<a href="{url}"><span>{title}</span></a>
			{?note}
				<div class="note">
					<span class="date">{date}</span>
					{note}
				</div>
			{/?note}
		</div>
	</li>
	<div class="clear"></div>
{/list}
{pagination}
</ul>

<script type="text/javascript">
	ui_init('.content');
</script>