<table cellpadding="0" cellspacing="0" class="listing listing_tbl" id="listing_{gid}" {style}>
	<tr>
		<th style="width:1%">#</th>
		<th style="width:1%">#</th>
		<th>Статья</th>
		<th>Дата</th>
	</tr>
	{list}
	<tr {!%2}class="even"{/!%2}>
		<td><input class="check_partners" type="checkbox" name="ids[]" value="{id}" /></td>
		<td><a href="/admin/partners/delete_item/{id}/" class="del_service_row" onClick="if(!confirm('Вы действительно хотите удалить эту новость?')) return false;">&nbsp;</a></td>
		
		<td><a href="/admin/partners/edit_item/{id}/" title="{full_title}">{title}</a></td>
		<td><small style="color: gray;">{date}</small></td>
	</tr>
	{/list}
</table>