<div id="profile">
	<h1>Личный кабинет</h1>
	<div class="tabs">
		<div class="tabs_buttons">
			<a href="#tabs-1"><span>персональные данные</span></a>
			<a href="#tabs-2"><span>информация по курсам</span></a>
			<a href="#tabs-3"><span>тех. поддержка</span></a>
		</div>
		<div class="text_bg news_bg">
			<div id="tabs-1">
				<div class="left_side">
					<div class="avatar">
						<img src="{avatar_src}" alt="">
						<div class="avatar_frame"></div>
						<a href="/profile/delete_avatar/" class="del_avatar"></a>						
					</div>
					<p class="ava_txt">Изображение в формате JPG, GIF или PNG размером 200 на 200 пикселей</p>
					<a href="#" class="upload_button avatar"></a>
					<div class="gray_line"></div>
					<div class="subscription">
						<div class="subs_img {?subscribe}on{/?subscribe}{!subscribe}off{/!subscribe}"></div>
						<p class="subs_txt">{?subscribe}Подписка активирована{/?subscribe}{!subscribe}Подписка отменена{/!subscribe}</p>
						<a href="javascript:void(0);" id="tumbler_subscribe"  class="tumbler subscribe {?subscribe}on{/?subscribe}{!subscribe}off{/!subscribe}"></a>						
					</div>
				</div>
				<div class="right_side">
					<form id="profileForm" class="form" enctype="multipart/form-data" action="/profile/edit/" method="post">
						<fieldset>
							<label for="fio">Меня зовут:</label>
							<input type="text" 	name="lastname"  	id="lastname" 		value="{lastname}" 		rel="" 		placeholder="Фамилия"/>
							<input type="text" 	name="name" 		id="name" 			value="{name}" 			rel=""		placeholder="Имя"/>
							<input type="text" 	name="middlename" 	id="middlename" 	value="{middlename}" 	rel=""		placeholder="Отчество"/>
						</fieldset>
						<fieldset>
							<label for="bday">Дата рождения:</label>
							<div class="select_outer_day">
								<select name="day" id="day">
									{bday_opt_d}
								</select>
							</div>
							<div class="select_outer_month">
								<select name="month" id="month">
									{bday_opt_m}
								</select>
							</div>
							<div class="select_outer_year">
								<select name="year" id="year">
									{bday_opt_y}
								</select>
							</div>
						</fieldset>
						<fieldset>
							<label for="sex">Пол:</label>
							<div class="select_outer_sex">
								<select name="sex" id="sex">
									<option  value="0">мужской</option>
									<option {selected_1} value="1">женский</option>
								</select>
							</div>
						</fieldset>

						<fieldset>
							<label for="contacts">Контакты:</label>
							<input type="text" name="email" id="email" value="{email}" rel="" 		placeholder="E-mail"/>
							<input type="text" name="tel" id="tel" value="{tel}" rel="" 		placeholder="Телефон"/>
							<input type="text" name="adr" id="adr" value="{adr}" rel="" 		placeholder="Адрес"/>
						</fieldset>
						
						<input type="file" name="avatar" hidden style="display: none;" id="avatar_file" />
						
						<a href = "#" class = "submit_button confirm_button">
							<input hidden style="display: none;" id="subscribe" name="subscribe" value="{subscribe}" />							
							<span>СОХРАНИТЬ</span>
						</a>
					</form>
				</div>
				<div class="clear"></div>
			</div>
			<div id="tabs-2">
				<p>Вы подписаны на следующие курсы:</p>
				<ul id="product">
					
					{product_list}
					<li>
						<div class="info">
							<span class="number">{num}. </span>
							<p class="title">{title}</p>
							<div class="clear"></div>
						</div>
						<div class="right">
							<div class="hours_link">
								<p class="hour">{hours}</p>
								<a class="link" href="{link}">подробнее...</a>
							</div>
							<a class="unsignup_button" href="/popup/all/delkursy/{id}/" ></a>
						</div>
						<div class="clear"></div>
					</li>					
					{/product_list}
				</ul>
			</div>
			<div id="tabs-3">
				<div class="top">
					<form action="/profile/addquest/" method="post">
						<fieldset>
							<label for="quest">&mdash; Говорите, чем мы можем Вам помочь?</label>
							<textarea name="question" id="quest"></textarea>
						</fieldset>
						<fieldset>
							<a href = "#" class = "submit_button confirm_button">
								<span>ОТПРАВИТЬ</span>
							</a>
						</fieldset>
					</form>
					<div class="clear"></div>
				</div>	
				<div class="questions">
					<ul>
						{faq_list}
						<li class="faq_item">
							<div class="question">
								<div class="avatar">
									<img src="{avatar_src}" alt="" width="130" height="130"/>
									<div class="photo_frame"></div>
								</div>
								<div class="right_text">
									<p class="fio">{fioUser}</p>
									<span class="date">{dateQuestion}</span>
									<div class="post">
										<div class="yellow_line"></div>
										<div class="line_bg"></div>
									</div>
									<p class="review">
										{question}
									</p>
								</div>
							</div>
							<div class="answer">
								<p class="ans">Ответ:</p>
								{answer}
							</div>
							<div class="clear"></div>
						</li>
						{/faq_list}
					</ul>
					{faq_pagination}
				</div>
			</div>
		</div>
	</div>
</div>
