<h3>Пришло новое сообщение с сайта</h3>
<h3>{header_feedback}</h3>
<table border="0" cellpadding="5">
	<tr><td valign="top"><b>Ф.И.О.:</b></td>
		<td valign="top">{fio}</td></tr>
	<tr><td valign="top"><b>Контактный телефон:</b></td>
		<td valign="top">{phone}</td></tr>
	<tr><td valign="top"><b>e-mail:</b></td>
		<td valign="top">{email}</td></tr>
	<tr><td valign="top"><b>Модель авто:</b></td>
		<td valign="top">{model_title}</td></tr>
	<tr><td valign="top"><b>Дата:</b></td>
		<td valign="top">{date_td}</td></tr>
	<tr><td valign="top"><b>Дополнительная информация:</b></td>
		<td valign="top">{question}</td></tr>
</table>