<p>Здравствуйте.</p>
<p>Вы (или кто-то другой) посылали запрос на восстановление пароля на сайте <a href="http://{domain}">{domain}</a>
для пользователя с логином: <b>{login}</b>.</p>
<p>Если Вы этого не делали, тогда просто проигнорируйте это письмо.</p>
<p>Для начала процедуры восстановления пароля перейдите по ссылке:<br />
<a href="http://{domain}/profile/forgot/{token}/">http://{domain}/profile/forgot/{token}/</a>.</p>
<p>--<br />
С уважением,<br />
Служба технической поддержки<br />
сайта {domain}</p>