/** @TODO A.Lidonov 20.01 Вынести формы в отдельную секцию
 * 
 */

/* 
    BASIC STYLE
*/
@font-face {
    font-family: Days; /* Имя шрифта */
    src: url('/application/includes/fonts/Days.otf') format('opentype'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: DINPro-Bold; /* Имя шрифта */
    src: url('/application/includes/fonts/DINPro-Bold.otf') format('opentype'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: DINPro-Light; /* Имя шрифта */
    src: url('/application/includes/fonts/DINPro-Light.otf') format('opentype'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: DINPro-Medium; /* Имя шрифта */
    src: url('/application/includes/fonts/DINPro-Medium.otf') format('opentype'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: DINPro-Regular; /* Имя шрифта */
    src: url('/application/includes/fonts/DINPro-Regular.otf') format('opentype'); /* Путь к файлу со шрифтом */
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

p#develop {
    min-width: 1000px;
    width: 100%;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    background: url(/application/includes/images/developed_bg.png) transparent repeat-x top left;
}

.bg_top {
    position: absolute;
    top: 114px;
    min-width: 1000px;
    width: 100%;
    height: 603px;
    background: url(/application/includes/images/head_bg.png) transparent no-repeat 0 -85px;
}

.top_shadow {
    background: url(/application/includes/images/header_shadow.png) transparent repeat-x top;
    width: 100%;
    height: 46px;
}

.bg_page {
    min-width: 1000px;
    max-width: 1920px;
    background: url(/application/includes/images/white.png) transparent repeat-x top; 
    background-color: #DFF3EA;
}

.note_block h2, #actions_line h2, #main_news h2, #actions_box h2, #newsactions_box h2, .most_popular h2, .popular h2 {
    font: 32px/28px Days, Verdana, Tahoma, Arial;
    color: #000;
    margin-bottom: 28px;
}

#newsactions_box h2 {
    display: inline-block;
    background: #fff;
    padding-right: 15px;
}


.clear {
    font-size: 0 !important;
    line-height: 0 !important;
    float:none !important;
    display: block;
    width: 100%;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    clear: both;
}
a:hover {
    color: #ff0000;
}

span, p {
    font-family: DINPro-Light, Verdana, Arial;
}

#wrapper {
    width: 100%;
    min-width: 550px;
    min-height: 320px;
    margin: 0 auto;
    overflow: auto;
}

.middle_wrap {
    min-width: 1000px;
    max-width: 1800px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.middle {
    min-width: 960px;
    max-width: 1455px;
    width: 100%;
    /*min-height: 585px;*/
    position: relative;
    margin: 0 auto;
    margin-top: 62px;
    z-index: 0;
}

.center {
    min-height: 325px;
}

.container {
    margin: 0 195px 0 320px;
}

.page.container {
    width: 835px;
    max-width: 835px;
    margin: 0 auto;
}

.page.container.feed_plus {
    width: 63% !important;
    float: left;
    margin-left: 30px;
    margin-bottom: 60px;
}

.pages {
    min-width: 1000px;
    max-width: 1600px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 105px;
}

.container .content {
    width: 100%;
    /*width: 654px;   */
    margin: 0 auto;
}


.content .text_bg {
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 30px;
}

.content .text {
    padding: 25px;
}

.left-sidebar {
    padding: 196px 15px 0px 15px;
    float: left;
    width: 232px;
    height: 195px;
    position: absolute;
    background: url(/application/includes/images/bubble2.png) transparent no-repeat;
    left: 30px;
    top: -46px;
}

.left-sidebar .sign_button {
    margin: 0 auto;
    margin-top: 16px;
}

.left-sidebar p {
    font: 14px/22px PTSansRegular, Verdana, Arial;
}

.left-sidebar strong {
    font: 14px/22px PTSansBold, Verdana, Arial;
    font-weight: 700;
}

.right-sidebar {
    float: right;
    width: 131px;
    padding: 3px 0px;
    position: absolute;
    right: 25px;
    text-align: center;
}

.right-sidebar a {
    font: 15px/30px PTSansRegular, Verdana, Arial;
    margin-right: 10px;
    color: #0066ff;
}

.sign_button:before {
    width: 10px;
    height: 36px;
    background: url(/application/includes/images/sign_btn/normal/sign_btn_left.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    left: -10px;

}

.sign_button {
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-top: 11px;
    display: block;
    width: 115px;
    height: 36px;
    background: url(/application/includes/images/sign_btn/normal/sign_btn_center.png) transparent repeat-x top;
}

.sign_button span {
    font-size: 15px;
    line-height: 34px;
    color: #fff;
}

.sign_button:after {
    width: 10px;
    height: 36px;
    background: url(/application/includes/images/sign_btn/normal/sign_btn_right.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
}

.sign_button:hover:before {
    left: -3px;
    background: url(/application/includes/images/sign_btn/onmouse/sign_btn_onmouse_left.png) transparent no-repeat left top;
}

.sign_button:hover {
    background: url(/application/includes/images/sign_btn/onmouse/sign_btn_onmouse_center.png) transparent repeat-x top;
}

.sign_button:hover span {
    color: #fff;
}

.sign_button:hover:after {
    background: url(/application/includes/images/sign_btn/onmouse/sign_btn_onmouse_right.png) transparent no-repeat right top;
}

.sign_button:active:before {
    left: -3px;
    background: url(/application/includes/images/sign_btn/onclick/sign_onclick_btn_left.png) transparent no-repeat left top;
}

.sign_button:active {
    background: url(/application/includes/images/sign_btn/onclick/sign_btn_onclick_center.png) transparent repeat-x top;
}

.sign_button:active span {
    color: #fff;
    border-bottom: none;
}

.sign_button:active:after {
    background: url(/application/includes/images/sign_btn/onclick/sign_btn_onclick_right.png) transparent no-repeat right top;
}









.middle_wrap .move {
    overflow: hidden;
}

#slider_background .link_adress{
    position: absolute;
    width: 536px;
    height: 305px;
}

#shadow {
    position: absolute;
    top: 760px;
    width: 100%;
    height: 15px;
    background: url(/application/includes/images/shadow.png) no-repeat;
}

.filesList .one_files {
    
}

.filesList img {
    float: left;
}

#main_page .pages .filesList ul li {
    width: 25%;
    height: 50px;
    margin-bottom: 30px;
    float: left;
    list-style: none;
    list-style-image: none !important;
}

.filesList .text_info {
    float: left;
    width: auto;
    height: 50px;
    margin-left: 10px;
}

.filesList .text_link {
    color: #000;
    display: block;
}

.filesList .infosize {
    display: block;
    color: #aaa;
    font-size: 10px;
}

.gray_line {
    position: relative;
    top: -12px;
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #E4E4E4;
    z-index: -1;
    overflow: hidden;

}

/* HEADER BLOCK BEGIN */

.header {
    width: 100%;
    height: 167px;
}

.logo {
    float: left;
    margin-top: 13px;
}

.logo_text {
    font: 14px/22px Days, Verdana, Arial;
    color: #e67817;
    float: left;
    width: 220px;
    margin-left: 12px;
    margin-top: 13px;
    text-decoration: none;
}

.logo_text:hover {
    color: #e67817;
    text-decoration: inherit;
}

.header .logo {
    margin-left: 50px;
}

.head_info {
    width: 93px;
    height: 52px;
    float: right;
    text-align: center;
    margin-right: 5.5%;
    background-color: #639095;
    padding: 31px 25px;
}

.head_info p {
    color: #fff;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 5px;
}

.head_info a {
    text-decoration: none;
}

.head_info a span {
    font: 14px/20px DINPro-Bold, Verdana, Arial;
    color: #fff;
    line-height: 13px;
    border-bottom: 1px solid #fff;
}

.head_info a:hover > span {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}

.head_phone {
    font-size: 17px;
    line-height: 22px;
}

.head_phone strong {
    font-size: 17px;
    font-family: PTSansBold;
}

.head_mail {
    font-size: 11px;
    line-height: 26px;
    display: block;
}

.call_button:before {
    width: 10px;
    height: 36px;
    background: url(/application/includes/images/call_btn/normal/call_btn_left.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    left: -10px;

}

.call_button {
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-top: 11px;
    display: block;
    width: 153px;
    height: 36px;
    background: url(/application/includes/images/call_btn/normal/call_btn_center.png) transparent repeat-x top;
}

.call_button span {
    font-size: 15px;
    line-height: 33px;
    color: #000;
    border-bottom: 1px dotted;
}

.call_button:after {
    width: 10px;
    height: 36px;
    background: url(/application/includes/images/call_btn/normal/call_btn_right.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    right: -4px;
}

.call_button:hover:before {
    background: url(/application/includes/images/call_btn/onmouse/call_btn_onmouse_left.png) transparent no-repeat right top;
}

.call_button:hover {
    background: url(/application/includes/images/call_btn/onmouse/call_btn_onmouse_center.png) transparent repeat-x top;
}

.call_button:hover span {
    color: #fff;
}

.call_button:hover:after {
    background: url(/application/includes/images/call_btn/onmouse/call_btn_onmouse_right.png) transparent no-repeat right top;
}

.call_button:active:before {
    background: url(/application/includes/images/call_btn/onclick/call_btn_onclick_left.png) transparent no-repeat right top;
}

.call_button:active {
    background: url(/application/includes/images/call_btn/onclick/call_btn_onclick_center.png) transparent repeat-x top;
}

.call_button:active span {
    color: #fff;
    border-bottom: none;
}

.call_button:active:after {
    background: url(/application/includes/images/call_btn/onclick/call_btn_onclick_right.png) transparent no-repeat right top;
}



/* HEADER BLOCK END */


/* MENU BLOCK BEGIN */


.menu_content {
    padding-left: 360px;
    padding-right: 280px;
}


.menu_block form {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 165px;
    margin-right: 165px;
}

.menu_block {
    width: 100%;
    min-height: 114px;
    height: auto;
    padding-left: 2.5%;
}

.menu_block .fon {
    margin: 0 auto;
    width: 775px;
    height: 60px;
    background-color: #fff;
    border-radius: 16px;
}

#menu {
    position: relative;
    top: 30px;
    margin: 0 auto;
    display: table;
    height: 48px;
    padding: 5px 15px;
}

#menu li {
    display: block;
    /*height: 44px;*/
    height: 37px;
    margin: 0 10px;
    float: left;
}

#menu .submenu li {
    display: block;
    /*height: 44px;*/
    height: 50px;
    margin: 0 10px;
    float: left;
}

#menu li.main_menu {
    
}

#menu li.main_menu.parent:hover, #menu li.main_menu.parent.preactive {
    background: none;
    background-color: #639095;
    border-radius: 5px;
}

#menu li.main_menu.parent:hover > .left, #menu li.main_menu.parent.active > .left, #menu li.main_menu.parent.preactive > .left {
    width: 12px;
    height: 37px;
    float: left;
    margin-left: -7px;
    background: url(/application/includes/images/menu/round_edge_left.png) 0px 29px no-repeat;
}

#menu li.main_menu.parent:hover > .right, #menu li.main_menu.parent.active > .right, #menu li.main_menu.parent.preactive > .right {
    width: 13px;
    height: 37px;
    float: right;
    margin-right: -7px;
    background: url(/application/includes/images/menu/round_edge_right.png) 0px 29px no-repeat;
}

#menu .submenu li.active {
    height: 48px;
}

#menu li.main_menu.parent.active > .submenu, #menu li.main_menu.parent.preactive > .submenu {
    display: block;
}

#menu li.main_menu.parent a.m_it:hover {
    color: #d02650;
}


#menu li.main_menu a.m_it:hover {
    border-radius: 5px;
}

#menu li.main_menu.parent a.m_it:hover > span {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

#menu li.main_menu.parent.active a.m_it span {
    color: #fff;
}

#menu .submenu li.active a span {
    color: #fde800;
    border-bottom: 1px solid #fde800;
}

#menu li.main_menu a.m_it:hover > span, #menu li.main_menu.active a.m_it span {
    color: #fff;
}

#menu li.main_menu:hover, #menu li.main_menu.active {
    background-color: #639095;
    border-radius: 5px;
} 

#menu li.main_menu:hover > a.m_it span, #menu li.main_menu.active > a.m_it span {
    color: #fff;
    border-bottom: 1px solid #fff;
}   

#menu li.main_menu a.m_it {
    display: block;
    height: 37px;
    text-decoration: none;
    line-height: 35px;
    padding: 0px 10px;
}

#menu li.main_menu a.m_it span {
    display: inline-block;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid;
    height: 19px;
}

#menu li.main_menu.parent a.m_it span {
    color: #000;
    border-bottom: 1px dotted;
}

#menu li .submenu {
    display: none;
    position: absolute;
    top: 42px;
    left: 0px;
    width: 100%;
    text-align: left;
    z-index: 654;
    background-color: #639095;
    border-radius: 5px;
    overflow: hidden;
}

#menu li.childs .submenu {
    display: none !important;
}

#menu li .submenu li a {
    display: inline;
    height: 61px;
    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
    white-space: nowrap;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#menu li .submenu li a span {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid;
}

#menu li .submenu li:hover > a span {
    color: #fde800;
    border-bottom: 1px solid #fde800;
}

/* MENU BLOCK END */

/* INFO PANEL BEGIN */

.info_panel {
    width: 100%;
    height: 100px;
    margin-top: 25px;
}

.info_panel .search {
    position: relative;
    float: left;
    margin-left: 2.5%;
}

.info_panel .search form {
    position: relative;
    width: 100%;
    height: 65px;
    padding-left: 15px;
    padding-right: 5px;
    background: url(/application/includes/images/search_center.png) transparent repeat-x top left;
    margin-bottom: 10px;
}

.info_panel .search form:after {
    position: absolute;
    content: '';
    right: -7px;
    top: 0;
    width: 7px;
    height: 65px;
    background: url(/application/includes/images/search_edge.png) transparent no-repeat top right;
}

.info_panel .search form input#search {
    margin-right: 10px;
    width: 210px;
    height: 25px;
    line-height: 25px;
    border-radius: 55px;
    font: 13px/15px DINPro-Light, Verdana, Arial;
    background: #fff;
    border: 1px solid #fde800;
    padding: 3px;
    padding-left: 35px;
    padding-right: 15px;
    margin-top: 16px;
    box-shadow: black 1px 1px 6px -3px inset;
}

.info_panel .search form input#search::-webkit-input-placeholder{
    color: #9eb5b7;
} 

.info_panel .search form input#search:-moz-placeholder {
    color: #9eb5b7;
}

.info_panel .search form #search_btn {
    position: absolute;
    top: 25px;
    left: 25px;
    display: inline-block;
    text-decoration: none;
    line-height: 21px;
    width: 15px;
    height: 18px;
    background: url(/application/includes/images/search_ico.png);
}

.info_panel .phone {
    font: 20px/20px DINPro-Bold, Verdana, Arial;
    color: #e67817;
    margin-left: 20px;
}

.info_panel .mail {
    font: 14px/22px DINPro-light, Verdana, Arial;
    color: #444;
    margin-left: 25px;
}

.info_panel .mail:hover {
    color: #ff0000;
}

.enter {
    width: 213px;
    height: 48px;
    float: right;
    background: url(/application/includes/images/moodle_btn.png) transparent no-repeat top left;
    margin-right: 3%;
}

.enter:hover {
    background: url(/application/includes/images/moodle_btn.png) transparent no-repeat 0px -48px;
}

.enter:active {
    background: url(/application/includes/images/moodle_btn.png) transparent no-repeat 0px -96px;
}

/* INFO PANEL END */

/* SLIDER BLOCK BEGIN */

#main_slider {
    position: relative;
    height: 190px;
    margin: 0 auto;
    min-width: 1000px;
}

#main_slider ul {
    position: relative;
    margin-top: 143px;
    margin-left: 50px;
}

#main_slider ul li {
    position: absolute;
    float: left;
    margin: 0px 5%;
    left: 325px;
    width: 13%;
}

#main_slider ul li.active {
    display: none;
}

#main_slider ul li.first {
    margin-right: 135px;
    left: 0;
}

#main_slider ul li.last {
    right: 0;
    left: initial;
    margin-right: 3% !important;
}

#main_slider ul li a {
    text-decoration: none;
}

#main_slider ul li a span {
    /*display: inline-block;*/
    height: 23px;
    font: 18px/22px Days, Verdana, Arial;
    color: #444;
    border-bottom: 1px dotted #444
}

#main_slider ul li a:hover > span {
    color: #ff0000;
    border-bottom: 1px dotted #ff0000
}


.slider_bg {
    position: relative;
    top: -145px;
    left: 792px;
    width: 616px;
    height: 387px;
    background: url(/application/includes/images/slider/book.png) transparent no-repeat 0 0;
}

.slider_bg {
    position: absolute;
    top: -145px;
    left: 792px;
    width: 616px;
    height: 387px;
    background: url(/application/includes/images/slider/book.png) transparent no-repeat 0 0;
}

.slider_bg .left_arrow {
    position: absolute;
    top: 129px;
    left: -28px;
    z-index: 2;
    display: inline-block;
    width: 52px;
    height: 50px;
}

.slider_bg .left_arrow.active {
    background: url(/application/includes/images/slider/slider_arrows_left.png);
}

.slider_bg .left_arrow.inactive {
    cursor: default;
    background: url(/application/includes/images/slider/slider_arrows_left.png) 0 -147px;
}

.slider_bg .right_arrow {
    position: absolute;
    top: 129px;
    right: 8px;
    z-index: 2;
    display: inline-block;
    width: 52px;
    height: 50px;
}

.slider_bg .right_arrow.active {
    background: url(/application/includes/images/slider/slider_arrows_right.png);
}

.slider_bg .right_arrow.inactive {
    cursor: default;
    background: url(/application/includes/images/slider/slider_arrows_right.png) 0 -147px;
}

.slider_bg .right_arrow.active:hover, .slider_bg .left_arrow.active:hover {
    background-position: 0 -49px;
}

.slider_bg .right_arrow.active:active, .slider_bg .left_arrow.active:active {
    background-position: 0 -98px;
}

.slider_bg .note {
    width: 250px;
    height: 225px;
    padding: 20px 38px;
}

.slider_bg .note h1 {
    font: 26px/22px Days, Verdana, Arial;
    text-transform: uppercase;
    color: #ffa800;
    text-shadow: 1px 1px 2px #325456;
}

.slider_bg .note p {
    width: 215px;
    margin-top: 25px;
    font: 13px/20px DINPro-light;
    color: #fff;
    text-shadow: 1px 1px 2px #567273;
}

.slider_bg .slider_links{
    text-align: center;
    display: block;
    height: 30px;
    width: 95px;
    /*background-color: #111;*/
    position: absolute;
    /*top: 275px;
    left: 290px;*/
    z-index: 150;
}

.hide_class{
    display: none !important;
}

.more_button {
    display: block;
    width: 121px;
    height: 48px;
    background: url(/application/includes/images/slider/more_btn.png) transparent no-repeat top left;
    /*margin-top: 20px;*/ /*потом вернуть */
}

.more_button:hover {
    background-position: 0px -54px;
}

.more_button:active {
    background-position: 0px -108px;
}

#main_slider .images img, #main_slider .images.hide img {
    position: absolute;
}

/* SLIDER BLOCK END */

/* MODELS BLOCK BEGIN */

/* MODELS BLOCK END */

/* CATALOG BLOCK BEGIN */ 

.order_button:before {
    width: 14px;
    height: 42px;
    background: url(/application/includes/images/order_btn/normal/order_btn_left.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
}

.order_button {
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-top: 17px;
    margin-left: 127px;
    display: block;
    width: 90px;
    height: 42px;
    background: url(/application/includes/images/order_btn/normal/order_btn_center.png) transparent repeat-x top;
}

.order_button span {
    font-size: 15px !important;
    line-height: 40px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #003300;
}

.order_button:after {
    width: 14px;
    height: 42px;
    background: url(/application/includes/images/order_btn/normal/order_btn_right.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
}

.order_button:hover:before {
    left: -12px;
    background: url(/application/includes/images/order_btn/onmouse/order_btn_onmouse_left.png) transparent no-repeat left top;
}

.order_button:hover {
    background: url(/application/includes/images/order_btn/onmouse/order_btn_onmouse_center.png) transparent repeat-x top;
}

.order_button:hover span {
    color: #fff;
}

.order_button:hover:after {
    background: url(/application/includes/images/order_btn/onmouse/order_btn_onmouse_right.png) transparent no-repeat right top;
}

.order_button:active:before {
    left: -12px;
    background: url(/application/includes/images/order_btn/onclick/order_btn_onclick_left.png) transparent no-repeat left top;
}

.order_button:active {
    background: url(/application/includes/images/order_btn/onclick/order_btn_onclick_center.png) transparent repeat-x top;
}

.order_button:active span {
    color: #fff;
    border-bottom: none;
}

.order_button:active:after {
    background: url(/application/includes/images/order_btn/onclick/order_btn_onclick_right.png) transparent no-repeat right top;
}

/* BIG ORDER BUTTON */

.order_bbutton:before {
    width: 25px;
    height: 58px;
    background: url(/application/includes/images/order_big_btn/default/order_big_left.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
}

.order_bbutton {
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-left: 40px;
    display: block;
    width: 85px;
    height: 58px;
    background: url(/application/includes/images/order_big_btn/default/order_big_center.png) transparent repeat-x top;
}

.order_bbutton span {
    font-size: 18px !important;
    line-height: 58px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #003300;
}

.order_bbutton:after {
    width: 25px;
    height: 58px;
    background: url(/application/includes/images/order_big_btn/default/order_big_right.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    right: -25px;
}

.order_bbutton:hover:before {
    background: url(/application/includes/images/order_big_btn/onmouse/order_big_left_onmouse.png) transparent no-repeat left top;
}

.order_bbutton:hover {
    background: url(/application/includes/images/order_big_btn/onmouse/order_big_center_onmouse.png) transparent repeat-x top;
}

.order_bbutton:hover span {
    color: #fff;
}

.order_bbutton:hover:after {
    background: url(/application/includes/images/order_big_btn/onmouse/order_big_right_onmouse.png) transparent no-repeat right top;
}

.order_bbutton:active:before {
    background: url(/application/includes/images/order_big_btn/onclick/order_big_left_onclick.png) transparent no-repeat left top;
}

.order_bbutton:active {
    background: url(/application/includes/images/order_big_btn/onclick/order_big_center_onclick.png) transparent repeat-x top;
}

.order_bbutton:active span {
    color: #fff;
    border-bottom: none;
}

.order_bbutton:active:after {
    background: url(/application/includes/images/order_big_btn/onclick/order_big_right_onclick.png) transparent no-repeat right top;
}

/* BIG ORDER BUTTON END */

.catalog .container {
    width: 775px;
    margin-bottom: 40px;
    margin: 0 auto;
}

#category_block ul {
    margin-left: 0px;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
}

#category_block ul li {
    list-style-image: none !important;
    list-style: none !important;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    line-height: 0px;
    width: 480px;
    float: left;
}

#category_block ul li .left_side {
    width: 280px;
    height: 238px;
    float: left; 
}

#category_block ul li .right_side {
    float: left;
    /*background: url(/application/includes/images/catalog/category_bg.png) transparent no-repeat top left;*/
    margin-top: 13px;
    width: 150px;
    height: 123px;
    padding-top: 20px;
    padding-right: 20px;
}

#category_block ul li .back {
    width: 398px;
    height: 142px;
    background: url(/application/includes/images/catalog/category_bg.png) transparent no-repeat 0 0;
    margin-left: 50px;
    margin-top: 10px;
    z-index: -1;
}

#category_block ul li .right_side a {
    text-decoration: none;
    font-size: 11px;
    line-height: 22px;
    border-bottom: 1px solid #D65C75;
}

#category_block ul li .right_side a span {
    font: 19px/25px PTSansBold, Verdana, Arial;
    color: #D12451;
    height: 20px;
}

#category_block ul li .right_side a:hover {
    border-bottom: 1px solid #ff0000;
}

#category_block ul li .right_side a:hover > span {
    color: #ff0000;
}

#category_block ul li .right_side p {
    font: 12px/18px PTSansRegular, Verdana, Arial;
    height: 20px;
    margin-top: 10px;
}

.catalog .left_block {
    float: left;
}

.catalog .right_block {
    width: 255px;
    float: right;
    margin-top: -51px;
}

.catalog .right_block .title {
    font-size: 11px;
    line-height: 22px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.catalog .right_block .title:hover {
    border-bottom: 1px solid #ff0000;
}

.catalog .right_block .title:hover > h2 {
    color: #ff0000;
}

.catalog .right_block .title h2 {
    display: inline;
    font: 23px/25px AgoraBold, Verdana, Tahoma, Arial;
    height: 20px;
}

#product_block, #actions_block, #public_block, #news_list, #actions_list, .questions ul {
    margin-left: 0px;
    margin-top: 40px;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
}

#product_block {
    margin-left: 0px;
}

#product_block li {
    list-style-image: none !important;
    list-style: none !important;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    line-height: 0px;
    /*max-width: 1375px;*/
    height: 230px;
}

#product_block li .left_side {
    float: left;
}

#product_block li .left_side .img_link {
    display: block;
    width: 188px;
    height: 205px;
    background: url(/application/includes/images/catalog/product_frame.png) transparent no-repeat -3px 0px;
    z-index: 100;
}

#product_block li .left_side img {
    position: relative;
    z-index: -100;
}

#product_block li .right_side {
    width: 910px;
    height: 200px;
    float: left;
    margin-left: 30px;
}

#product_block li .right_side a.link {
    color: #D02551;
    text-decoration: none;
    border-bottom: 1px solid #CFA5A6;
    font-size: 11px;
    line-height: 22px;
}

#product_block li .right_side a.link span {
    color: #D02551;
    font-size: 18px;
    line-height: 25px;
    height: 20px;
}

#product_block li .right_side a.link:hover {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}

#product_block li .right_side a.link:hover > span {
    color: #ff0000;
}

#product_block li .right_side .order_button {
    margin-top: -45px;
    margin-left: 135px;
}

#product_block li .right_side .note p, #product_block li .right_side .note span {
    font: 13px/22px PTSansRegular, Verdana, Arial;
    margin-top: 20px;
}

#product_block li .right_side p.price {
    font: 30px/30px PTSansNarrowBold;
}

.catalog .return {
    width: 320px;
    height: 31px;
    background-color: #BAD94F;
    position: relative;
    top: 5px;
    left: -224px;
    text-align: right;
    padding-right: 15px;
    padding-left: 0px;
}

.catalog .return.abs {
    width: 320px;
    height: 31px;
    background-color: #BAD94F;
    position: absolute;
    top: 5px;
    left: -224px;
    text-align: right;
    padding-right: 15px;
    padding-left: 0px;
}

.catalog .return:after {
    width: 16px;
    height: 31px;
    background: url(/application/includes/images/back_bg_cut.png) transparent no-repeat top right;
    content: '';
    position: absolute;
    top: 0;
    right: -16px;
}

.catalog .return a {
    font: 16px/26px PTSansNarrow, Verdana, Arial;
    color: #000;
}

.catalog .return a:hover {
    color: #ff0000;
}

.middle_wrap .return {
    width: 320px;
    height: 31px;
    background-color: #BAD94F;
    position: absolute;
    top: 265px;
    left: -155px;
    text-align: right;
    padding-right: 15px;
    padding-left: 0px;
    z-index: 500;
}

.middle_wrap .return:after {
    width: 16px;
    height: 31px;
    background: url(/application/includes/images/back_bg_cut.png) transparent no-repeat top right;
    content: '';
    position: absolute;
    top: 0;
    right: -16px;
}

.middle_wrap .return a {
    font: 16px/26px PTSansNarrow, Verdana, Arial;
    color: #000;
}

.middle_wrap .return a:hover {
    color: #ff0000;
}

#product_top {
    /*width: 1365px;*/
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#product_top .container {
    margin-bottom: 60px;
}

#product_top .left_side {
    float: left;
}

#product_top .right_side {
    margin-left: 500px;
}

#product_top .item .left_side .item_img {
    width: 393px;
    height: 318px;
    border: 8px solid #CDCDCD;
    background-color: #fff;
}

#product_top .item .left_side .item_img img {
    margin: 0 auto;
    display: block;
}

#product_top .order {
    display: table;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 5px;
    background-color: #fff;
}

#product_top .order a.order_button {
    top: -8px;
}

#product_top .gray_line {
    position: relative;
    top: -43px;
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #E4E4E4;
    z-index: -1;
    overflow: hidden;
}

#product_top p.price {
    float: left;
}

#product_top a.order_bbutton {
    float: left;
}

#product_top p.price span {
    font: 40px/55px PTSansNarrowBold, Verdana, Arial !important;
}

.content #product_top ul {
    margin-left: -25px;
}

#product_top .add_img {
    display: table;
    margin: 0 auto;
    height: 80px;
    position: relative;
    top: -35px;
    left: 6px;
}

#product_top .add_img a {
    display: block;
    float: left;
    text-align: center;
    width: 123px;
    height: 80px;
    background: url(/application/includes/images/product_foto_frame.png) transparent no-repeat bottom left;
}

#product_top .add_img a:hover, #product_top .add_img a.active {
    background: url(/application/includes/images/product_foto_frame_hover.png) transparent no-repeat 0px 0px;
}

#product_top .add_img a img {
    margin-left: -13px;
    margin-top: 9px;
}

/* CATALOG BLOCK END */ 

/* FAQ BLOCK BEGIN */

.content .questions {
    margin-top: 30px;
}

.content .questions ul {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-left: 0px;
}

.content .questions ul li {
    position: relative;
    list-style-image: none !important;
    list-style: none !important;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 30px;
    line-height: 0px;
    border-bottom: 1px dotted #ccc; 
}

.content .questions ul li.quest_item.last {
    border-bottom: none; 
}

.questions ul li p.question {
    font: 18px/30px PTSansBold, Verdana, Arial;
    margin-bottom: 20px;
}

.questions ul li .answer {
    margin-bottom: 30px;
}

.questions ul li p.user, .questions ul li .answer p.ans {
    font: 13px/13px PTSansRegular, Verdana, Arial;
    margin-bottom: 0px;
    color: #009f3b;
}

.questions ul li .answer p.ans {
    margin-bottom: 3px;
}


.questions ul li p.date {
    position: absolute;
    left: -90px;
    width: 80px;
    height: 36px;
    text-align: center;
    font: 13px/30px PTSansRegular, Verdana, Arial;
    color: #fff;
    margin-bottom: 0px;
    padding-left: 3px;
    background: url(/application/includes/images/data_bg.png) transparent no-repeat top left;
}

.questions ul.reviews li p.user {
    text-align: right;
    margin-bottom: 30px;
}

.questions .paginator {
    margin-bottom: 80px;
}


/* FAQ BLOCK END */

/* NEWS BLOCK BEGIN */ 

#news_block {
    position: relative;
    float: right;
    margin-right: 3%;
    margin-top: 40px;
}

#news_block h1 {
    font: 25px/22px Days, Verdana, Arial;
    color: #444;
    margin-left: 30px;
}

#news_block #leftArrow {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 74px;
    left: -10px;
    z-index: 500;
    background: url(/application/includes/images/news/news_arrow_left.png) transparent no-repeat top left;
}

#news_block #rightArrow {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 74px;
    right: -10px;
    z-index: 500;
    background: url(/application/includes/images/news/news_arrow_right.png) transparent no-repeat top right;
}

#news_block #leftArrow:hover, #news_block #rightArrow:hover {
    background-position: 0 -34px;
}

#news_block #leftArrow:active, #news_block #rightArrow:active {
    background-position: 0 -68px;
}

#news_block #scroll {
    margin-top: 30px;
    margin-left: 32px;
}

#news_block #scroll .jspHorizontalBar, #news_block #scroll .jspVerticalBar {
    display: none;
}

#news_block .item {
    width: 310px;
    margin-right: 84px;
    float: left;
    z-index: 0;
}

#news_block .date {
    margin-bottom: 5px;
}

#news_block .date p {
    font: 11px/20px DINPro-light, Verdana, Arial;
    color: #8c8c8c;
    display: table;
    background: #FBFEFB;
    padding: 0px 5px 0px 5px;
    margin: 0 auto;
}

.allnews_button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 88px;
    height: 32px;
    font: 13px/20px DINPro-light, Verdana, Arial;
    color: #fff;
    background: url(/application/includes/images/news_bg.png) transparent no-repeat top left;
    text-align: center;
    padding-top: 5px;
}

.allnews_button:hover {
    color: #ff0000;
}

#public_block {
    width: 185px;
}

#public_block li {
    list-style-image: none !important;
    list-style: none !important;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 0px;
    line-height: 0px;
    border-left: 4px solid #BAD94F;
    margin-bottom: 10px;
}

#public_block li a {
    color: #0066ff;
    text-decoration: none;
    border-bottom: 1px solid #0066ff;
    font-size: 11px;
    line-height: 22px;
}

#public_block li a span {
    color: #0066ff;
    font: 13px/20px PTSansRegular, Verdana, Arial;
    line-height: 25px;
    height: 20px;
}

#public_block li a:hover {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}

#public_block li a:hover > span {
    color: #ff0000;
}

#news_list li {
    list-style-image: none !important;
    list-style: none !important;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 0px;
    line-height: 0px;
}

#news_list li img {
    border: 2px solid #ccc;
    float: left;
    margin-right: 15px;
}

#news_list li .note_wrap {
    margin-left: 125px;
}

#news_list li .note_wrap .note {
    min-height: 88px;
}

#news_list li .note_wrap a {
    color: #D02551;
    text-decoration: none;
    border-bottom: 1px solid #DD8293;
    font: 11px/22px PTSansRegular, Verdana, Arial;
}

#news_list li .note_wrap a span {
    font: 16px/16px PTSansRegular, Verdana, Arial;
    color: #D02551;
    height: 20px;
}

#news_list li .note_wrap a:hover {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}

#news_list li .note_wrap a:hover > span {
    color: #ff0000;
}

#news_list li .note_wrap span.date {
    font: 12px/16px PTSansRegular, Verdana, Arial;
}

#news_list li .note_wrap p {
    font: 13px/24px PTSansRegular, Verdana, Arial;
}

/* NEWS BLOCK END */ 

/* ACTIONS BLOCK BEGIN */ 

#actions_news {
    height: 340px;
    margin-top: 8px;
}

#actions_block {
    width: 365px;
    float: left;
    margin-left: 2.5%;
    margin-top: 40px;
}

#actions_block .action_descript a, #news_block .news_descript a {
    display: inline;
    font: 16px/20px DINPro-Bold, Verdana, Arial;
    color: #ff8a00;
    height: 17px;
    text-decoration: none;
    border-bottom: 1px solid;
}

#actions_block .action_descript a:hover, #news_block .news_descript a:hover {
    color: #ff0000;
}

.action_descript .note, .news_descript .note {
    margin-top: 10px;
    margin-bottom: 22px;
    font: 14px/20px DINPro-light, Verdana, Arial;
    color: #444;
}

#actions_block .action_descript {
    width: 260px;
    float: right;
}

#courses #actions_block {
    width: 315px;
    float: none;
    margin-left: 0;
}

#courses .middle {
    max-width: 1205px;
}

#courses #actions_block .action_descript {
    width: 315px;
    float: none;
}

.allactions_button {
    display: block;
    float: left;
    width: 88px;
    height: 32px;
    font: 13px/20px DINPro-light, Verdana, Arial;
    color: #fff;
    background: url(/application/includes/images/actions_bg.png) transparent no-repeat top left;
    text-align: center;
    padding-top: 5px;
}

.allactions_button:hover {
    color: #ff0000;
}

/* ACTIONS BLOCK END */ 

/* REVIEWS BLOCK BEGIN */

#reviews_block {
    min-height: 294px;
    min-width: 1000px;
    margin-top: 75px;
    background: url(/application/includes/images/comments/comments_bg_w.png) transparent no-repeat top;
    background-color: #648F92;
    padding-bottom: 10px;
}

#reviews_block ul {
    display: table;
    margin: 0 auto;
}

#reviews_block ul li {
    float: left;
    width: 425px;
    margin: 0 75px;
}

#reviews_block ul li .avatar {
    position: relative;
    margin: 0 auto;
    display: table;
}

#reviews_block ul li .avatar img {
    border-radius: 70px;
}

#reviews_block ul li .avatar .photo_frame {
    position: absolute;
    top: 0;
    left: -4px;
    width: 142px;
    height: 128px;
    background: url(/application/includes/images/comments/foto_frame.png) transparent no-repeat -1px -1px;
}

#reviews_block ul li .fio {
    display: table;
    margin: 0 auto;
    font: 17px/20px DINPro-Regular, Verdana, Arial;
    color: #fff;
    position: relative;
    top: -19px;
    background-color: #648F92;
    text-align: center;
}

#reviews_block ul li .fio strong {
    font: 17px/20px DINPro-Bold, Verdana, Arial;
}

#reviews_block ul li .post {
    margin-top: 10px;
    margin-bottom: 10px;
}

#reviews_block ul li .post p {
    display: table;
    margin: 0 auto;
    margin-top: -25px;
    font: 12px/20px DINPro-Regular, Verdana, Arial;
    color: #fde800;
    background-color: #648F92;
    z-index: 10;
    padding: 0px 12px 0px 12px;
    min-width: 5%;
    max-width: 43%;
    text-align: center;
}

#reviews_block ul li .review {
    font: 13px/20px DINPro-Regular, Verdana, Arial;
    color: #fff;
    text-align: center;
}

#reviews_block ul li .yellow_line {
    margin-top: -13px;
    width: 100%;
    height: 1px;
    background-color: #fde800;
    /*border-top: 1px solid #fde800;*/
    z-index: -1;
    overflow: hidden;
}

#reviews_block ul li .line_bg {
    height: 13px;
    background: url(/application/includes/images/comments/booble_edge_fon.png) transparent no-repeat 0px 0px;
    margin-top: -1px;
    overflow: hidden;
}

.allreviews_button {
    display: block;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 88px;
    height: 32px;
    font: 13px/20px DINPro-light, Verdana, Arial;
    color: #fff;
    background: url(/application/includes/images/comments/allcomments_bg.png) transparent no-repeat top left;
    text-align: center;
    padding-top: 2px;
}

/* REVIEWS BLOCK END */

/* COURSES BLOCK BEGIN */

#courses .left_block {
    float: left;
    margin-top: 60px;
    margin-left: 2.5%;
}

#courses .page.container {
    width: 59% !important;
    float: left;
    margin-bottom: 60px;
    margin-right: 2.5%;
}

#courses .page.container .text_bg {
    margin-top: 7px;
    border-radius: 0px 20px 20px 0px;
}

#courses .left_block .nav {
    position: relative;
    width: 320px;
    padding: 20px 0px 20px 35px;
    height: auto;
    background: url(/application/includes/images/courses/course_content_center.png) transparent repeat-y right;
    background-color: #608E92;
    border-radius: 20px 0px 0px 20px;
}

#courses .left_block .nav:after {
    position: absolute;
    content: '';
    bottom: -13px;
    right: 0;
    background: url(/application/includes/images/courses/course_content_edge.png) transparent no-repeat right;
    width: 100%;
    height: 13px;
    
}

#courses .left_block .nav ul li {
    margin-top: 7px;
    padding: 5px;
}

#courses .left_block .nav ul li.active {
    position: relative;
    background-color: #fff; 
    border-radius: 15px 0 0 15px;
    box-shadow: 0px 10px 10px -10px #444;
}

#courses .left_block .nav ul li.active:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 15px;
    right: 0px;
    top: -15px;
    background: url(/application/includes/images/marker_up_right_edge.png) transparent no-repeat top;
}

#courses .left_block .nav ul li.active:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 15px;
    right: 0px;
    bottom: -14px;
    background: url(/application/includes/images/marker_down_right_edge.png) transparent no-repeat bottom;
}

#courses .left_block .nav a {
    font: 17px/50px Days, Verdana, Arial;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #eee;
    vertical-align: middle;
}

#courses .left_block .nav a:hover {
    color: #ff0000;
    border-bottom: 1px dotted #ff0000;
}

#courses .left_block .nav span {
    font: 11px/22px DINPro-Bold, Verdana, Arial;
    color: #fff;
}

#courses .left_block .nav img {
    float: left;
}

#courses .left_block .nav ul li.active a, #courses .left_block .nav ul li.active span {
    color: #444;
    border-bottom: none;
}

#courses .left_block .nav .nav_item {
    float: left;
    display: table;
    height: 50px;
    margin-left: 10px;
}

#courses .courses_h1 {
    float: left;
}

#courses .select_outer {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

/* COURSES BLOCK END */

/* INTERVIEW BLOCK BEGIN */

#interview_block {
    display: table;
    margin: 0 auto;
    height: 180px;
    padding-top: 80px;
}

body#pages #interview_block {
    width: 100%;
}

body#pages #interview_block .question, body#pages #interview_block .radiobuttons {
    margin-right: 0px;
}

body#pages #interview_block .radiobuttons {
    width: 25%;
    padding-left: 45%;
    padding-right: 30%;
    float: none;
}

#interview_block .question {
    float: left;
    margin-right: 60px;
}

#interview_block .question p.bold {
    font: 25px/22px Days, Verdana, Arial;
    color: #444;
}

#interview_block .question p.normal {
    font: 17px/20px DINPro-light, Verdana, Arial;
    color: #444;
}

#interview_block .radiobuttons {
    float: left;
    margin-right: 60px;
}

#interview_block .radiobuttons fieldset {
    margin-bottom: 5px;
}

#interview_block .radiobuttons input[type=radio] {
    display: none;
}

#interview_block label {
    font: 15px/20px DINPro-light, Verdana, Arial;
    color: #444;
}

#interview_block label:hover {
    color: #ff0000;
}

#interview_block label:before {
    content: '';
    background: url(/application/includes/images/radiobutton.png) transparent no-repeat 0px 0px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    position: absolute;
    left: 0;
    bottom: 1px;
}

#interview_block .radiobuttons label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}

#interview_block .radiobuttons input[type=radio]:checked + label {
    color: #e67817;
}

#interview_block .radiobuttons input[type=radio]:checked + label:before {
    content: '';
    background: url(/application/includes/images/radiobutton.png) transparent no-repeat 0px -15px;
}

#interview_block .answer_button {
    float: right;
}

.answer_button.inactive {
    margin-top: -17px;
    cursor: default;
    display: block;
    width: 169px;
    height: 79px;
    background: url(/application/includes/images/answer_btn.png) transparent no-repeat top right;
}

.answer_button.active {
    margin-top: -13px;
    display: block;
    width: 169px;
    height: 79px;
    background: url(/application/includes/images/answer_btn.png) transparent no-repeat 0px -79px;
}

.answer_button.active:hover {
    background-position: 0px -158px;
}

.answer_button.active:active {
    background-position: 0px -237px;
}

/* INTERVIEW BLOCK END */

/* PAGINATION BLOCK BEGIN */ 

.paginator {
    width: 100%;
    background-color: #E9E9E9;
    height: 22px;
    border-radius: 2px;
    margin-bottom: 40px;
}

.paginator .pagi_middle {
    display: table;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -5px;
}

.paginator .pagi_select, .paginator .pagi_num {
    float: left;
    padding-top: 4px;
    width: 34px;
}

.paginator .pagi_num a {
    color: #000 !important;
}

.paginator .pagi_num a:hover {
    color: #ff0000 !important;
    text-decoration: underline;
}

.paginator .pagi_select {
    background: url(/application/includes/images/pagination_marker.png) transparent no-repeat 0px 0px;
    width: 34px;
    height: 38px;
}

/* PAGINATION BLOCK END */ 

/* SERVICES BLOCK BEGIN */ 



/* SERVICES BLOCK END */ 

/* INFO BLOCK BEGIN */



/* INFO BLOCK END */

/* FOOTMENU BLOCK BEGIN */

.footer_block {
    display: table;
    height: 60px;
    background-color: #F2F2F2;
    margin-top: 35px;
    padding-top: 15px;
    position: relative;
    min-width: 696px;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    max-width: 1900px;
/*    padding-left: 100px;
    padding-right: 100px;*/
}

/*.footer_block .middle_wrap {
    min-width: 1000px;
    max-width: 1700px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}*/

.footer_block p.foot_text, .footer_block .made p {
    font-size: 13px;
    line-height: 20px;
    color: #444;
}

.footer_block p.foot_text {
    width: 270px;
    float: left;
    margin-left: 2.5%;
}

.footer_block .made {
    width: 61px;
    float: right;
    margin-right: 3%;
}

.footer_block .made a {
    font: 13px/22px Days, Verdana, Arial;
    color: #e67817;
}

.footer_block .made a:hover {
    color: #ff0000;
}

.footer_block .foot_menu {
    margin-top: 3px;
    padding-left: 275px;
    padding-right: 70px;
}

.footer_block .foot_menu ul {
    margin: 0 auto;
    display: table;
    width: auto;
    height: 48px;
}

.footer_block .foot_menu ul li {
    display: block;
    height: 48px;
    float: left;
    margin-right: 35px;
}

.footer_block .foot_menu ul li a {
    font: 14px/8px DINPro-Light, Verdana, Arial;
    text-decoration: none;
    color: #444;
    border-bottom: 1px solid;
    display: inline-block;
    height: 13px;
}

.footer_block .foot_menu ul li a:hover {
    color: #ff0000;
    border-bottom: 1px solid;
}


/* FOOTMENU BLOCK END */

/* GALLERY BLOCK BEGIN */ 

#previews {
    height: 130px;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

#previews #wrap{
    height: 130px;
    margin: 0 auto;
    clear: none;
    float: left;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 0;
}

#previews #leftArrow {
    position: relative;
    background: url(/application/includes/images/gallery/gallery_btn_left.png) transparent no-repeat;
    overflow: hidden;
    clear: both;
    display: block;
    float: left;
    height: 129px;
    width: 44px;

}

#previews #rightArrow {
    position: relative;
    background: url(/application/includes/images/gallery/gallery_btn_right.png) transparent no-repeat;
    display: block;
    float: right;
    height: 129px;
    width: 44px;
}

#previews #leftArrow:hover, #previews #rightArrow:hover {
    background-position: 0 -129px;
}

#previews #leftArrow:active, #previews #rightArrow:active {
    background-position: 0 -258px;
}

#previews #scroll {
    left: 0px;
    overflow-x: hidden;
    position: relative;
    top: 0;
    width: 85.5%;
    z-index: 8;
    height: 135px;
    overflow: hidden;
    margin: 0 auto;
}

#previews .item {
    list-style: none;
    list-style-image: none !important;
    float: left;
    margin-right: 10px;
    width: 170px;
    height: 130px;
}

#previews .jspHorizontalBar {
    display: none;
}

.fancybox-overlay {
    background: url(/application/includes/images/fancy_outer.png) !important;
}

.fancybox-skin {
    background-color: #D6DBE1 !important;    
    border-radius: 10px;
}

.fancybox-item.fancybox-close {
    width: 43px;
    height: 44px;
    margin-top: -10px;
    margin-right: 25px;
    background: url(/application/includes/images/popup/close_popup.png) transparent no-repeat 0px 0px;
}

.fancybox-item.fancybox-close:hover {
    background: url(/application/includes/images/popup/close_popup.png) transparent no-repeat 0px -44px;
}

.fancybox-inner {
    margin-top: 20px !important;
}

/* GALLERY BLOCK END */ 

/* PHONE ORDER BLOCK BEGIN */ 

#phone_form h2 {
    font: 32px/30px AgoraBold, Verdana, Tahoma, Arial;
    color: #000;
    margin-bottom: 28px;
    text-align: center;
}

#phone_form label {
    display: block;
    font: 14px/22px PTSansRegular, Verdana, Arial;
}

#phone_form textarea {
    width: 488px;
    font: 14px/22px PTSansRegular, Verdana, Arial;
    height: 118px;
    resize: none;
    border: 1px solid #fff;
    box-shadow: black 0px 1px 5px -1px inset;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

#phone_form input {
    width: 488px;
    font: 14px/31px PTSansRegular, Verdana, Arial;
    border: 1px solid #fff;
    box-shadow: black 0px 1px 5px -1px inset;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

#phone_form .left input, #phone_form .right input {
    width: 230px;
}

#phone_form .left {
    float: left;
    margin-left: 0px;
}

#phone_form .right {
    float: right;
    margin-left: 0px;
}

#phone_form #capcha {
    width: 170px;
    float: left;
}

#phone_form fieldset.field_capcha {
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
}

#phone_form .field_capcha img {
    width: 120px;
    height: 32px;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
}

#phone_form .confirm_button span {
    font: 24px/60px AgoraBold, Verdana, Arial;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}

/* PHONE ORDER BLOCK END */ 

/* SEARCH BLOCK BEGIN */ 

.content .search_info {
    font: 18px/36px PTSansRegular, Verdana, Arial;
    margin-top: 60px;
}

.search_res .content ul {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-left: 0px;
}

.search_res .content ul li {
    list-style-image: none !important;
    list-style: none !important;
    padding-left: 0px;
    min-height: 110px;
}

.search_res .content ul li img {
    border: 2px solid #ccc;
    float: left;
    margin-right: 15px;
}

.search_res .content ul li a {
    color: #D02551;
    text-decoration: none;
    border-bottom: 1px solid #DD8293;
    font: 11px/22px PTSansRegular, Verdana, Arial;
}

.search_res .content ul li a:hover{
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}

.search_res .content ul li span {
    font: 16px/16px PTSansRegular, Verdana, Arial;
    color: #D02551;
    height: 20px;
}

.search_res .content ul li a:hover > span {
    color: #ff0000;
}

.search_res .content ul li p, .search_res .content ul li p span {
    font: 13px/24px PTSansRegular, Verdana, Arial;
}

.content .search_res .box {
    margin-top: 30px;
}

.content .search_res .paginator {
    margin-top: 60px;
    margin-bottom: 80px;
}

.content .search_info span {
    font: 18px/36px PTSansBold, Verdana, Arial;
    color: #d02650;
}

/* SEARCH BLOCK END */ 

/* FILES LIST BLOCK BEGIN */

.content .filesList ul {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-left: 0px;
}

.content .filesList li {
    list-style: none !important;
    list-style-image: none !important;
    padding-left: 0px;
}

.content .filesList .one_files {
    display: inline-block;
    margin-left: 55px;
    width: 215px;
    float: left
}

.content .filesList .flex {
    float: left;
    height: 61px;
}

.content .filesList .one_files a {
    font: 16px/20px DINPro-Medium, Verdana, Arial;
    color: #ff8a00;
    float: left;
    text-decoration: none;
    border-bottom: 1px solid;
    height: 20px;
}

.content .filesList .one_files a:hover {
    color: #ff0000;
}

.content .filesList .one_files .infosize {
    font: 13px/20px DINPro-light, Verdana, Arial;
    color: #444;
}

/* FILES LIST BLOCK END */

/* FEEDBACK BLOCK BEGIN */ 

.feedbox {
    float: left;
    /*height: 465px;*/
    background: url(/application/includes/images/form/form_edge.png) transparent no-repeat bottom;
    margin-left: 2.5%;
    margin-top: 53px;
}

.feedbox .feedback {
    position: relative;
    /*width: 315px;*/
    background-color: #639095;
    border-radius: 15px;
}

.feedbox .feedback p.confirm {
    font: 20px/22px DINPro-bold, Arial, Verdana;
    color: #fff;
    padding: 25px;
}

.feedbox .feedback h2 {
    font: 25px/46px DINPro-Bold, Verdana, Arial;
    color: #fff;
    padding: 20px 25px 0px 25px;
}

.tdline {
    width: 100%;
    height: 2px;
    background: url(/application/includes/images/form/form_line.png) transparent repeat-x top;
}

.feedbox .feedback .tdline {
    position: absolute;
    bottom: 101px;
}

#ask_question_form {
    width: 275px;
    padding: 10px 20px 0 20px;
    margin-bottom: 50px;
}

#ask_question_form h2 {
    text-align: center;
}

#ask_question_form fieldset {
    margin-bottom: 5px;
}

#ask_question_form label {
    display: block;
    font: 16px/22px DINPro-light, Verdana, Arial;
    color: #fff;
}

#ask_question_form label span {
    color: #fde800;
}

#ask_question_form input {
    width: 255px;
    font: 16px/30px DINPro-light, Verdana, Arial;
    height: 44px;
    border: none;
    box-shadow: black 2px 3px 5px -3px inset;
    border-radius: 3px;
    background-color: #DFE9EA;
    padding: 0 10px;
}

#ask_question_form input[type="text"]::-webkit-input-placeholder {
    color: #7c7e7d;
    font: 14px/31px DINPro-light, Verdana, Arial;
} 

#ask_question_form input[type="text"]:-moz-placeholder {
    color: #7c7e7d;
    font: 14px/31px DINPro-light, Verdana, Arial;
}

#ask_question_form #capcha {
    width: 130px;
    float: left;
    height: 32px;
}

#ask_question_form .field_capcha img {
    width: 120px;
    height: 31px;
    float: left;
    margin-top: 1px;
    margin-left: 5px;
}

#ask_question_form .left input, #ask_question_form .right input{
    /*width: 370px;*/
}

#ask_question_form fieldset.buttonfield {
    text-align: center;
    margin-top: 35px;
}

#ask_question_form fieldset.buttonfield label {
    font-size: 12px;
    line-height: 22px;
}

.confirm_button:before {
    width: 6px;
    height: 50px;
    background: url(/application/includes/images/form/confirm_btn_left.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    left: -6px;

}

.confirm_button {
    float: left;
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-left: 35px;
    display: block;
    width: 210px;
    height: 50px;
    background: url(/application/includes/images/form/confirm_btn_center.png) transparent repeat-x top;
}

.middle_wrap .confirm_button span {
    font: 25px/46px DINPro-Bold, Verdana, Arial;
    color: #fff;
}

.confirm_button:after {
    width: 6px;
    height: 50px;
    background: url(/application/includes/images/form/confirm_btn_right.png) transparent no-repeat right top;
    content: '';
    position: absolute;
    top: 0;
    right: -6px;
}

.confirm_button:hover:before, .confirm_button:hover, .confirm_button:hover:after {
    background-position: 0px -50px;
}

.confirm_button:active:before, .confirm_button:active, .confirm_button:active:after {
    background-position: 0px -100px;
}

/* FEEDBACK BLOCK END */ 


/**
    sexy-combo 2.1.3 : http://code.google.com/p/sexy-combo/
    
    This is the base structure, a skin css file is also needed
*/

/*wrapper of all elements*/
div.combo {
    position:relative;
    left: 0px;
    top: 0px;
}


/*text input*/
.combo input {
    position: absolute;
}


/*icon*/
.combo div.icon {
    position:absolute;
}


/*list wrapper*/
.combo div.list-wrapper {
    position: absolute;
    overflow: hidden;
    /*we should set height and max-height explicitly*/
    height: 200px; 
    max-height: 200px;
    /*should be always at the top*/
    z-index: -1 !important;
    background-color: #F6F6F6;
    top: -5px;
    left: -5px;
    padding-top: 45px;
    width: 440px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

/*"drop-up" list wrapper*/
.combo div.list-wrapper-up {}

/*dropdown list*/
.combo ul {}

/*dropdown list item*/
.combo  li {
    height: 20px;
}

/*active (hovered) list item*/
.combo li.active {}


.combo .visible {
    display: block;
}

.combo .invisible {
    display: none;
}

/*used when emptyText config opt is set. Applied to text input*/
.combo input.empty {}

/**
    sexy-combo 2.1.3 : http://code.google.com/p/sexy-combo/
    
    This is a verbose backup of the base structure. Use sexy-combo.css unless you know what you are doing.
*/


div.combo {
    position:relative;
    white-space: nowrap;
    height: 21px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 455px;
}

.combo input {
    margin: 0 0 0 0;
    font:normal 18px/22px Days, Verdana, Arial;
    color: #444;
    padding:1px 10px;
    /*background:#fff url(/application/includes/images/sexycombo/sexy/text-bg.gif) repeat-x 0 0;*/
    border: none;
    box-shadow: inset 0px 3px 10px -3px #444;
    border-radius: 3px;
    height: 37px;
    line-height: 18px;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 413px;

}

.combo div.icon {
    width: 37px;
    height: 37px;
    border: 0;
    background: transparent url("/application/includes/images/sexycombo/sexy/title_select_btn.png") no-repeat 0 0;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 23px;
}

#courses .combo div.icon:hover {
    background-position: 0px -37px;
}

#courses .combo div.icon:active {
    background-position: 0px -74px;
}



div.list-wrapper {
    position: absolute;
    left: 0px;
    top: 21px;
    background-color: #FFFFFF;
    padding: 0;
    overflow: hidden;
    margin: 0;
    height: 200px; 
    max-height: 200px;
    z-index: 99999;
    width: 146px;
}

.combo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px;
    -webkit-padding-start: 0px !important;
    -moz-padding-start: 0px !important;
    margin-left: 0 !important;
}

.combo  li {
    padding: 0;
    padding-left: 5px;
    font:normal 14px Verdana, tahoma, arial, helvetica, sans-serif;
    background-color: #F6F6F6;
    height: 20px;
    cursor: pointer;
    margin: 0;
}

.combo li.active {
    background-color: #FDEB31;
}


.combo .visible {
    display: block;
    height: 37px;
    margin-top: 0;
}

.combo .invisible {
    display: none;
}
.combo input.empty {
    color: gray;
}

.combo div.list-wrapper span {
    font: 18px/34px Days, Verdana, Arial;
    color: #444 !important;
    margin-left: 5px;
}

.jspVerticalBar {
    display: none !important;
}


ymaps {
    margin-bottom: 30px;
}