<div class="bigfront_image" {?url_to_img}style="background: url({url_to_img}) no-repeat;"{/?url_to_img}>
	<div id="text_to_img">
		<p id="title_to_img">{title_to_img}</p>
		{text_to_img}
	</div>
	<div class="buttons_wrapper">
	  <a href="/popup/all/feedback_ajax/1" class="orange_button fancy" data-fancybox-type="ajax">Заказать прайс-лист</a>
	  <a href="/popup/all/feedback_ajax/2" class="orange_button fancy or_gray_hah" data-fancybox-type="ajax">Заказать .ies файлы</a>
	  <a href="/popup/all/feedback_ajax/4" class="question orange_button fancy or_gray_hah" data-fancybox-type="ajax">Задать вопрос</a>
	</div>
</div>
<div class="border"></div>