 <div class="five_best_selling">
  <p class="title">5 самых продаваемых товаров</p>
  <div class="box">
    <div class="fbs_item">
      <div class="left_fbs">
        <img src="/application/includes/images/pict_30.jpg" alt="" />
      </div>
      <div class="right_fbs">
        <p class="fbs_title">Lumier FL 158 T</p>
        <table>
          <tr>
            <td>
              <p class="dimensions">Габариты:</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="efficiency">Эффективность:</p>
            </td>
            <td>
              <p class="network">Световой поток:</p>
            </td>
            <td>
              <p class="power">Мощность:</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="characteristics ch_first">272 x 140 x 90 мм</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="characteristics">82.4 лм/вт</p>
            </td>
            <td>
              <p class="characteristics">16200 лм</p>
            </td>
            <td>
              <p class="characteristics">110 Вт</p>
            </td>
          </tr>
        </table>
        <a href="#" class="orange_button">Заказать</a>
      </div>
    </div>
    <div class="fbs_item">
      <div class="left_fbs">
        <img src="/application/includes/images/pict_33.jpg" alt="" />
      </div>
      <div class="right_fbs">
        <p class="fbs_title">Lumier FL 258 P</p>
        <table>
          <tr>
            <td>
              <p class="dimensions">Габариты:</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="efficiency">Эффективность:</p>
            </td>
            <td>
              <p class="network">Световой поток:</p>
            </td>
            <td>
              <p class="power">Мощность:</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="characteristics ch_first">1672 x 996 x 162 мм</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="characteristics">82.4 лм/вт</p>
            </td>
            <td>
              <p class="characteristics">16200 лм</p>
            </td>
            <td>
              <p class="characteristics">110 Вт</p>
            </td>
          </tr>
        </table>
        <a href="#" class="orange_button">Заказать</a>
      </div>
    </div>
    <div class="fbs_item">
      <div class="left_fbs">
        <img src="/application/includes/images/pict_35.jpg" alt="" />
      </div>
      <div class="right_fbs">
        <p class="fbs_title">Lumier IN 258 X</p>
        <table>
          <tr>
            <td>
              <p class="dimensions">Габариты:</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="efficiency">Эффективность:</p>
            </td>
            <td>
              <p class="network">Световой поток:</p>
            </td>
            <td>
              <p class="power">Мощность:</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="characteristics ch_first">1672 x 696 x 162 мм</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="characteristics">82.4 лм/вт</p>
            </td>
            <td>
              <p class="characteristics">16200 лм</p>
            </td>
            <td>
              <p class="characteristics">110 Вт</p>
            </td>
          </tr>
        </table>
        <a href="#" class="orange_button">Заказать</a>
      </div>
    </div>
    <div class="fbs_item">
      <div class="left_fbs">
        <img src="/application/includes/images/pict_37.jpg" alt="" />
      </div>
      <div class="right_fbs">
        <p class="fbs_title">Lumier IN 658 X</p>
        <table>
          <tr>
            <td>
              <p class="dimensions">Габариты:</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="efficiency">Эффективность:</p>
            </td>
            <td>
              <p class="network">Световой поток:</p>
            </td>
            <td>
              <p class="power">Мощность:</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="characteristics ch_first">1672 x 3196 x 162 мм</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="characteristics">82.4 лм/вт</p>
            </td>
            <td>
              <p class="characteristics">16200 лм</p>
            </td>
            <td>
              <p class="characteristics">110 Вт</p>
            </td>
          </tr>
        </table>
        <a href="#" class="orange_button">Заказать</a>
      </div>
    </div>
    <div class="fbs_item">
      <div class="left_fbs">
        <img src="/application/includes/images/pict_39.jpg" alt="" />
      </div>
      <div class="right_fbs">
        <p class="fbs_title">Lumier NX D 280 L</p>
        <table>
          <tr>
            <td>
              <p class="dimensions">Габариты:</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="efficiency">Эффективность:</p>
            </td>
            <td>
              <p class="network">Световой поток:</p>
            </td>
            <td>
              <p class="power">Мощность:</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="characteristics ch_first">1672 x 3196 x 162 мм</p>
            </td>
            <td class="fbs_border">
              
            </td>
            <td>
              <p class="characteristics">82.4 лм/вт</p>
            </td>
            <td>
              <p class="characteristics">16200 лм</p>
            </td>
            <td>
              <p class="characteristics">110 Вт</p>
            </td>
          </tr>
        </table>
        <a href="#" class="orange_button">Заказать</a>
      </div>
    </div>
    <p class="partner_title">Полный каталог продукции</p>
  </div>
</div>