<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {head}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        {header}
        <div class="menu_wrapper">
          {menu_block}
        </div>
      </div>

      {bigfront_image}
      
      <div id="content">
        <div class="left_container">
          {container}
        </div>
        <div class="right_container">
          {right_block}
        </div>
      </div>
      <div class="clear"></div>
      <div id="footer">
        {footer}
      </div>
    </div>
	<!-- BEGIN JIVOSITE CODE {literal} -->
	<script type='text/javascript'>
	(function(){ var widget_id = '141430';
	var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
	<!-- {/literal} END JIVOSITE CODE -->	

  </body>
</html>