<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  {head}
</head>
  <body id="main_page">
    <div class="bg_top">
    </div>
    <div class="middle_wrap">
      {header}
      {menu_block}  
      <div class="middle">
        <div class="center">
          <div class="page container">
            <div class="content">
              {content}
            </div>
          </div>  
        </div>
      </div>
        <div class="clear"></div>
        
        {pop_products} 
      <div class="clear"></div>
    </div>
    {footer}
    {?alert}
      <script type="text/javascript">
        $.fancybox('<div class="alertMessage"><p>{alert}</p></div>');
      </script>
    {/?alert}
  </body>
</html>
