<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	{head}
	<script type="text/javascript" src="/application/includes/js/slider.js"></script>
</head>
	<body id="main_page">
		<p id="develop">&mdash; Сайт находится на этапе разработки</p>
		<div class="bg_top" style="top: 144px;">
			<div class="top_shadow"></div>
		</div>
		<div class="middle_wrap">
			{menu_block}	
			<div class="info_panel">
				<div class="search">
					<form action="/popup/search/view/" method="POST" class="formSearch">
						<a href="#" id="search_btn" class="submit_button">&nbsp;</a>
						<input type="text" id="search" name="search_text" placeholder="Поиск по сайту">
					</form>
					<span class="phone">{header_phone}</span>
					<a href="mailto:{header_mail}" class="mail">{header_mail}</a>
				</div>
				<a href="http://test.midpo.ru/" class="enter" target="_blank"></a>
			</div>
			<div id="main_slider">
		 		{slider}
		 	</div>
		 	<div id="actions_news">
		 		{actions_list}
			 	<div id="actions_block">
			 		<a href="/akcii/" class="allactions_button">все акции</a>
			 		<div class="action_descript">
			 			<span class="title">{title}</span>
			 			{note}
			 		</div>
			 		<img src="/application/includes/actions/{id}.jpg" alt="{title}" class="action_img" width="364" height="182" />
			 	</div>
		 		{/actions_list}
			 	<div id="news_block">
			 		<h1>Новости</h1>
			 		<a href="/news/" class="allnews_button">все новости</a>
			 		<a href="#" id="leftArrow"></a>
					<a href="#" id="rightArrow"></a>
					<div id="scroll">
						<div class="scroll-pane">
							<div id="wrap">	
								{news_list}
								<div class="item">
									<div class="date">
										<p>{date}</p>
										<div class="gray_line"></div>
									</div>
									<div class="news_descript">
										<a href="{url}">{title}</a>
										<p class="note">{note}</p>
									</div>
								</div>
								{/news_list}
							</div>
						</div>
					</div>
			 	</div>
		 	</div>
		 </div>
		 <!-- <div class="reviews_bg"></div> -->
	 	<div id="reviews_block">
			<div class="middle_wrap">
				<a href="/otzyvy/" class="allreviews_button">все отзывы</a>
		 		<ul>
		 			{reviews_list}
		 			<li>
		 				<div class="avatar">
		 					<img src="/application/includes/reviews/{id}.jpg" alt="" width="130" height="130"/>
		 					<div class="photo_frame"></div>
		 				</div>
		 				<p class="fio">{fioUser}</p>
		 				<!-- <p class="fio"><strong>Панин</strong> Александр Валерьевич</p> -->
		 				<div class="post">
		 					<div class="yellow_line"></div>
		 					<div class="line_bg"></div>
		 					<p>{postSpecialist}</p>
		 				</div>
		 				<p class="review">
		 					{question}
		 				</p>
		 			</li>
		 			{/reviews_list}
		 		</ul>
	 		</div>
	 	</div>
		 <div class="middle_wrap">
		 	{question_block}
			<div class="clear"></div>
		</div>
		{footer}
		{?alert}
	      <script type="text/javascript">
	        $.fancybox('<div class="alertMessage"><p>{alert}</p></div>');
	      </script>
	    {/?alert}
		<!-- BEGIN JIVOSITE CODE {literal} -->
		<script type='text/javascript'>
		(function(){ var widget_id = '141430';
		var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
		<!-- {/literal} END JIVOSITE CODE -->		
	</body>
</html>