<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  {head}
</head>
  <body id="faq_page">
    <p id="develop">&mdash; Сайт находится на этапе разработки</p>
    <div class="bg_top" style="top: 144px;">
      <div class="top_shadow"></div>
    </div>
    <div class="bg_page">
      <div class="middle_wrap">
        {menu_block}  
      </div>
      <div class="faq_fon">
        <div class="test_fon"></div>
        <div class="middle_wrap">
          <div class="middle">
            {feedbackBlock}
            <div class="container" style="margin: 0 127px 0 128px; min-height: 700px;">
              <div class="content">
                {content}
                {question_block}
                </div>
              </div>
            </div>  
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    {footer}
    {?alert}
      <script type="text/javascript">
        $.fancybox('<div class="alertMessage"><p>{alert}</p></div>');
      </script>
    {/?alert}
  </body>
</html>