<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	{head}
</head>
	<body id="main_page">
		<div class="bg_top"></div>
		<div class="middle_wrap">
			{menu_block}	
			<div class="info_panel">
				<div class="search">
					<form action="/popup/search/view/" method="POST" class="formSearch">
						<a href="#" id="search_btn" class="submit_button">&nbsp;</a>
						<input type="text" id="search" name="search_text" placeholder="Поиск по сайту">
					</form>
					<span class="phone">+7 800 300 11 11</span>
					<a href="#" class="mail">info@midpo.ru</a>
				</div>
				<a href="#" class="enter"></a>
			</div>
			<div id="main_slider">
		 		<ul>
		 			<li class="first"><a href="#"><span>Экология</span></a></li>
		 			<li><a href="#"><span>Строительство</span></a></li>
		 			<li class="hide"><a href="#"><span>Образование</span></a></li>
		 			<li class="last"><a href="#"><span>Физкультура и спорт</span></a></li>
		 		</ul>
		 		<div class="slider_bg">
		 			<a href="#" class="left_arrow"></a>
		 			<a href="#" class="right_arrow"></a>
		 			<div class="note">
		 				<h1>Образование</h1>
		 				<p>В институте сложилась система контроля качества обучения слушателей, которая обеспечивает полную реализацию учебных, учебно-методических планов и программ, достаточный уровень преподавания и усвоения слушателями содержания</p>
		 				<a href="#" class="more_button"></a>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="middle" style="min-height: 285px;">
		 		<div class="container">
					<div class="content">
		 				{main_text}
					</div>
				</div>	
			</div>
			<div class="clear"></div>
		</div>
		{footer}
		{?alert}
	      <script type="text/javascript">
	        $.fancybox('<div class="alertMessage"><p>{alert}</p></div>');
	      </script>
	    {/?alert}
	</body>
</html>