<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  {head}
</head>
  <body id="pages">
    <p id="develop">&mdash; Сайт находится на этапе разработки</p>
    <div class="bg_top" style="top: 144px;">
      <div class="top_shadow"></div>
    </div>
    <div class="bg_page">
    <div class="middle_wrap">
      {menu_block}  
      {inform_panel}
      <div class="middle">
        <div class="center">
          {feedbackBlock}
          <div class="container" style="margin: 0 127px 0 128px;">
            <div class="content">
              {content}
              {question_block}
            </div>
          </div>  
        </div>
      </div>
      <div class="clear"></div>
    </div>
    </div>
    {footer}
    {?alert}
      <script type="text/javascript">
        $.fancybox('<div class="alertMessage"><p>{alert}</p></div>');
      </script>
    {/?alert}
	<!-- BEGIN JIVOSITE CODE {literal} -->
	<script type='text/javascript'>
	(function(){ var widget_id = '141430';
	var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
	<!-- {/literal} END JIVOSITE CODE -->	

  </body>
</html>