<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  {head}
</head>
  <body id="courses" class="{?is_product}product{/?is_product}">
    <p id="develop">&mdash; Сайт находится на этапе разработки</p>
    <div class="bg_top" style="top: 144px;">
      <div class="top_shadow"></div>
    </div>
    <div class="bg_page">
    <div class="middle_wrap">
      {menu_block}  
      <div class="middle">
        <div class="left_block">
          {courses_nav}
          <div id="actions_block">
            <div class="action_descript">
              <a href="#">Теория и практика дошкольного образования</a>
              <p class="note">Только в феврале и марте желающим пройти курсы профессиональной переподготовки по программе «Теория и практика дошкольного образования» стоимость обучения 18000 рублей (оплата ежемесячно).</p>
            </div>
            <img src="/application/includes/images/action_pic.png" alt="Для инженерных специальностей" class="action_img" width="315" height="155" />
          </div>
        </div>
        <div class="page container">
          <div class="content">
            {content}
          </div>
        </div>  
      </div>
      <div class="clear"></div>
    </div>
    </div>
    {footer}
    {?alert}
      <script type="text/javascript">
        $.fancybox('<div class="alertMessage"><p>{alert}</p></div>');
      </script>
    {/?alert}
  </body>
</html>