<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	{head}
</head>
	<body id="main_page">
		<div class="bg_top"></div>
		<div class="middle_wrap">
			{menu_block}	
			<div class="info_panel">
				<div class="search">
					<form action="/popup/search/view/" method="POST" class="formSearch">
						<a href="#" id="search_btn" class="submit_button">&nbsp;</a>
						<input type="text" id="search" name="search_text" placeholder="Поиск по сайту">
					</form>
					<span class="phone">+7 800 300 11 11</span>
					<a href="#" class="mail">info@midpo.ru</a>
				</div>
				<a href="#" class="enter"></a>
			</div>
			<div id="main_slider">
		 		<ul>
		 			<li class="first"><a href="#"><span>Экология</span></a></li>
		 			<li><a href="#"><span>Строительство</span></a></li>
		 			<li class="hide"><a href="#"><span>Образование</span></a></li>
		 			<li class="last"><a href="#"><span>Физкультура и спорт</span></a></li>
		 		</ul>
		 		<div class="slider_bg">
		 			<a href="#" class="left_arrow"></a>
		 			<a href="#" class="right_arrow"></a>
		 			<div class="note">
		 				<h1>Образование</h1>
		 				<p>В институте сложилась система контроля качества обучения слушателей, которая обеспечивает полную реализацию учебных, учебно-методических планов и программ, достаточный уровень преподавания и усвоения слушателями содержания</p>
		 				<a href="#" class="more_button"></a>
		 			</div>
		 		</div>
		 	</div>
		 	<div id="actions_news">
			 	<div id="actions_block">
			 		<a href="#" class="allactions_button">все акции</a>
			 		<div class="action_descript">
			 			<a href="#">Для инженерных специальностей</a>
			 			<p class="note">Скидка на обучение инженерных специальностей 15%. Только в январе 2014</p>
			 		</div>
			 		<img src="/application/includes/images/action_pic.png" alt="Для инженерных специальностей" class="action_img" width="364" height="182" />
			 	</div>
			 	<div id="news_block">
			 		<h1>Новости</h1>
			 		<a href="#" class="allnews_button">все новости</a>
			 		<a href="#" id="leftArrow"></a>
					<a href="#" id="rightArrow"></a>
					<div id="scroll">
						<div class="scroll-pane">
							<div id="wrap">	
								<div class="item">
									<div class="date">
										<p>12 июня 2014</p>
										<div class="gray_line"></div>
									</div>
									<div class="news_descript">
										<a href="#">26 декабря 2013 года в Министерстве</a>
										<p class="note">26 декаьпя 2013 года в Министерстве строительства и жилищно-коммунального хозяйства РФ состоялось совещание министра Михаила Меня по вопросам взаимодействия с Национальным объединением строителей. В нем приняли участие президент НОСТРОЙ Ефим Басин, вице-президенты Эдуард Дадов и</p>
									</div>
								</div>
								<div class="item">
									<div class="date">
										<p>12 июня 2014</p>
										<div class="gray_line"></div>
									</div>
									<div class="news_descript">
										<a href="#">26 декабря 2013 года в Министерстве</a>
										<p class="note">26 декаьпя 2013 года в Министерстве строительства и жилищно-коммунального хозяйства РФ состоялось совещание министра Михаила Меня по вопросам взаимодействия с Национальным объединением строителей. В нем приняли участие президент НОСТРОЙ Ефим Басин, вице-президенты Эдуард Дадов и</p>
									</div>
								</div>
								<div class="item">
									<div class="date">
										<p>12 июня 2014</p>
										<div class="gray_line"></div>
									</div>
									<div class="news_descript">
										<a href="#">26 декабря 2013 года в Министерстве</a>
										<p class="note">26 декаьпя 2013 года в Министерстве строительства и жилищно-коммунального хозяйства РФ состоялось совещание министра Михаила Меня по вопросам взаимодействия с Национальным объединением строителей. В нем приняли участие президент НОСТРОЙ Ефим Басин, вице-президенты Эдуард Дадов и</p>
									</div>
								</div>
							</div>
						</div>
					</div>
			 	</div>
		 	</div>
		 </div>
		 <!-- <div class="reviews_bg"></div> -->
	 	<div id="reviews_block">
			<div class="middle_wrap">
	 		<ul>
	 			<li>
	 				<div class="avatar">
	 					<img src="/application/includes/images/comments/comments_fotot1.png" alt="" width="130" height="130"/>
	 					<div class="photo_frame"></div>
	 				</div>
	 				<p class="fio"><strong>Панин</strong> Александр Валерьевич</p>
	 				<div class="post">
	 					<div class="yellow_line"></div>
	 					<div class="line_bg"></div>
	 					<p>студент</p>
	 				</div>
	 				<p class="review">
	 					На нашей планете есть удивительная народность вегетарианцев, не знающая болезней и имеющая среднюю продолжительность жизни в 110-120 лет. Они живут на севере Индии в Гималаях в очень суровых условиях, на берегу реки Хунзы, в 100 километрах от самого северного
	 				</p>
	 			</li>
	 			<li>
	 				<div class="avatar">
	 					<img src="/application/includes/images/comments/comments_fotot2.png" alt="" width="130" height="130"/>
	 					<div class="photo_frame"></div>
	 				</div>
	 				<p class="fio"><strong>Иванов</strong> Сергей Петрович</p>
	 				<div class="post">
	 					<div class="yellow_line"></div>
	 					<div class="line_bg"></div>
	 					<p>директор фирмы заказчика</p>
	 				</div>
	 				<p class="review">
	 					На нашей планете есть удивительная народность вегетарианцев, не знающая болезней и имеющая среднюю продолжительность жизни в 110-120 лет. Они живут на севере Индии в Гималаях в очень суровых условиях, на берегу реки Хунзы, в 100 километрах от самого северного
	 				</p>
	 			</li>
	 			<li>
	 				<div class="avatar">
	 					<img src="/application/includes/images/comments/comments_fotot3.png" alt="" width="130" height="130"/>
	 					<div class="photo_frame"></div>
	 				</div>
	 				<p class="fio"><strong>Дроздова</strong> Юлия Сергеевна</p>
	 				<div class="post">
	 					<div class="yellow_line"></div>
	 					<div class="line_bg"></div>
	 					<p>студент</p>
	 				</div>
	 				<p class="review">
	 					На нашей планете есть удивительная народность вегетарианцев, не знающая болезней и имеющая среднюю продолжительность жизни в 110-120 лет. Они живут на севере Индии в Гималаях в очень суровых условиях, на берегу реки Хунзы, в 100 километрах от самого северного
	 				</p>
	 			</li>
	 		</ul>
	 		</div>
	 	</div>
		 <div class="middle_wrap">
		 	<div id="interview_block">
		 		<div class="question">
		 			<p class="bold">- Как считаете:</p>
		 			<p class="normal">Нравится ли Вам наш сайт?</p>
		 		</div>
		 		<div class="radiobuttons">
		 			<input id="first" type="radio" name="first" value="first">
				    <label for="first">Нравится</label>
		 			<input id="second" type="radio" name="second" value="second">
				    <label for="second">Не нравится</label>
		 			<input id="third" type="radio" name="third" value="third">
				    <label for="third">Он прекрасен</label>
		 			<input id="fourth" type="radio" name="fourth" value="fourth">
				    <label for="fourth">Кто его делал?</label>
		 		</div>
		 		<a href="#" class="answer_button"></a>
		 	</div>
		 	<div class="middle" style="min-height: 285px;">
		 		<div class="container">
					<div class="content">
		 				{main_text}
					</div>
				</div>	
			</div>
			<div class="clear"></div>
		</div>
		{footer}
		{?alert}
	      <script type="text/javascript">
	        $.fancybox('<div class="alertMessage"><p>{alert}</p></div>');
	      </script>
	    {/?alert}
	</body>
</html>