<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {head}
  </head>
  <body>
    <div id="shadow"></div>
    <div id="wrapper">
      <div id="header">
        {header}
        <div class="menu_wrapper">
          {menu_block}
        </div>
      </div>

      {bigfront_image}
      
      <div id="content">
        <div class="left_container">
          <div class="breadcrumbs">
            <a href="\">Главная</a> 
            {BreadCrums}
             <a> &nbsp/ </a><a {?last_link}class = "last"{/?last_link}href="{url}">{title}</a>
            {/BreadCrums}
          </div>
          {container}
        </div>
        <div class="right_container">
          {right_block}
        </div>
      </div>
      <div class="clear"></div>
      <div id="ajaxGalleryBlock">{ajaxGalleryBlock}</div>
      <div id="footer">
        {footer}
      </div>
    </div>
  </body>
</html>