<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  {head}
</head>
  <body id="courses" class="{?is_product}product{/?is_product}">
    <p id="develop">&mdash; Сайт находится на этапе разработки</p>
    <div class="bg_top" style="top: 144px;">
      <div class="top_shadow"></div>
    </div>
    <div class="bg_page">
    <div class="middle_wrap">
      {menu_block}  
      <div class="middle">
        <div class="left_block">
          {courses_nav}
          {actions_list}
            <div id="actions_block">
              <div class="action_descript">
                <span class="title">{title}</span>
                {note}
              </div>
              <img src="/application/includes/actions/{id}.jpg" alt="{title}" class="action_img" width="330" height="165" />
            </div>
          {/actions_list}
        </div>
        <div class="page container">
          <div class="content">
            {content}
            {question_block}
          </div>
        </div>  
      </div>
      <div class="clear"></div>
    </div>
    </div>
    {footer}
    {?alert}
      <script type="text/javascript">
        $.fancybox('<div class="alertMessage"><p>{alert}</p></div>');
      </script>
    {/?alert}
  </body>
</html>