<p class="title">Новинка</p>
<div class="box">
{subfamily}
  <p class="title">{title}</p>
  <img width="260" height="147" src="/application/includes/catalog/natf/{id}.jpg" alt="" />
  <table>
    <tr>
      <td>
        <p class="dimensions">Габариты:</p>
      </td>
      <td>
        <p class="efficiency">Эффективность:</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="characteristics">{length} х {width} х {height} мм</p>
      </td>
      <td>
        <p class="characteristics">{efficiency} лм/вт</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="network">Световой поток:</p>
      </td>
      <td>
        <p class="power">Мощность:</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="characteristics">{stream} лм</p>
      </td>
      <td>
        <p class="characteristics">{power} Вт</p>
      </td>
    </tr>
  </table>
  <!-- <p class="characteristics">на все светильники при заказе проектирования и монтажа</p> -->
  <a href="/popup/all/feedback_ajax/7" class="orange_button fancy" data-fancybox-type="ajax" data-title="{title}">Заказать</a>
{/subfamily}
</div>