{wysiwyg}
<h2><a href="/admin/actions/view/{pid}">{volume_title}</a> / <a href="/admin/actions/view_items/{pid}">Список акций</a> / {caption}</h2>
<form action="/admin/actions/add_actions/" method="post" class="page_form" enctype="multipart/form-data">
	<input type="hidden" name="id" value="{id}" id="page_id"/>
	<input type="hidden" value="{module_id}" id="module_id"/>
	<input type="hidden" name="pid" value="{pid}" />
	<fieldset>
		<label for="title">Название страницы</label>
		<input type="text" name="title" class="text_field" value="{title}" {!id}onkeyup="translit($(this).val());" onchange="translit($(this).val());" {/!id}/>
	</fieldset>
	<fieldset>
		<label for="note" class="block">Описание</label>
		<textarea name="note" class="text_field" id="note_id">{note}</textarea>
	</fieldset>
	<fieldset>
		<label for="alias" class="block">URL (например, novosti_kompanii)</label>
		<input type="text" name="alias" id = "url" value="{alias}" class="text_field"/>
	</fieldset>
	<fieldset>
		<label for="character_image">Характеризующая картинка</label>
		<input type="file" name="character_image" /> {character}
	</fieldset>
	<fieldset>
		<label for="banner_image">Баннер-изображение</label>
		<input type="file" name="banner_image" /> {character_banner}
	</fieldset>
	<fieldset>
		<span>Видимость:</span>
		<input type="hidden" name="active" value="0">
		<input type="checkbox" name="active" value="1" style="vertical-align: middle;" {active}>
	</fieldset>
<!-- 	<fieldset>
		<span>Действует:</span>
		<input type="hidden" name="proceed" value="0">
		<input type="checkbox" name="proceed" value="1" style="vertical-align: middle;" {proceed}>
	</fieldset> -->
	<fieldset>
		<label for="text" class="block">Текст страницы<span class="help" rel="1:1"></span></label>
		<textarea name="text" class="text_field big_text mceEditor">{text}</textarea>
	</fieldset>
	<fieldset>
		<label for="author">Автор</label>
		<input type="text" name="author" value="{author}" class="text_field"/><br clear="all"/>
		<label for="source">Источник</label>
		<input type="text" name="source" value="{source}" class="text_field"/><br clear="all"/>
	</fieldset>
	<fieldset>
		<label for="date">Дата добавления</label>
		<input type="hidden" name="time" value="{time}">
		<table class="row">
			<tr><td><input type="hidden" name="date" value="{date}" />
					<input type="text" name="date" value="{date}" {date_disabled} class="min text_field" id="date_input" />
					<button id="datepicker_button"></button></td>
				<td>&nbsp;&nbsp;<nobr><label class="inline">Показывать дату:</label></nobr>&nbsp;</td>
				<td><input type="hidden" name="is_show_date" value="0" />
					<input type="checkbox" name="is_show_date" value="1" {is_show_date} onChange="if(this.checked) $('#date_input').removeAttr('disabled'); else $('#date_input').attr('disabled','disabled');" /></td></tr>
		</table>
	</fieldset>
	<!-- {yandex_maps_block} -->
	{modules_block}
	<fieldset class="yellow">
		<input type="submit" value="Сохранить" />
		{delete_actions}
	</fieldset>
</form><br/>
<h2>Дополнительные модули</h2>
{photos_block}
{images_block}
{files_block}