<div id="slider_jsp">
  <div class="scroll-pane">
      <div id="wrap">
        {slides}
          <div class="item {?first}first{/?first} {?last}last{/?last} {?active}active{/?active}"><a href="#"><span>{title}</span></a></div>
        {/slides}
      </div>
  </div>
</div>
<div class="slider_bg">
  <div class="images hide">
    <img src="/application/includes/images/slider/education/sheet3.png" data-pos="1" alt="" />
    <img src="/application/includes/images/slider/education/sheet2.png" data-pos="2" alt="" />
    <img src="/application/includes/images/slider/education/sheet1.png" data-pos="3" alt="" />
  </div>
  <div class="images">
    <img src="/application/includes/images/slider/education/sheet3.png" data-pos="1" alt="" />
    <img src="/application/includes/images/slider/education/sheet2.png" data-pos="2" alt="" />
    <img src="/application/includes/images/slider/education/sheet1.png" data-pos="3" alt="" />
  </div>
  <a href="#" class="left_arrow active"></a>
  <a href="#" class="right_arrow active"></a>
  <div class="note">
    <h1>Образование</h1>
    <p>Модернизация образования требует нового качества работы педагогов. Наш институт,  учитывая происходящие процессы обновления содержания образования, появление новых педагогических технологий, организует курсы повышения квалификации и профессиональной переподготовки.</p>
    <a href="#" class="more_button"></a>
  </div>
</div>