<div class="jcarousel-wrapper">
<div class="jcarousel" data-jcarousel="true">
    <ul>
      {slides}
        <li class="slview_{active}" data-pos="{#}">
          <a href="#" class="sllink" data-link="{link}" data-count="{#}">
            <span>{title}</span>
          </a>
          <div class="note">
            <p>{note}</p>
          </div>
        </li>
      {/slides}
    </ul>
</div>
<div class="slider_bg">
  <div class="images hide">
	<img src="/application/includes/images/slider/education/sheet3.png" data-pos="1" alt="" />
	<img src="/application/includes/images/slider/education/sheet2.png" data-pos="2" alt="" />
	<img src="/application/includes/images/slider/education/sheet1.png" data-pos="3" alt="" />
  </div>
  <div class="images">
	<img src="/application/includes/images/slider/education/sheet3.png" data-pos="1" alt="" />
	<img src="/application/includes/images/slider/education/sheet2.png" data-pos="2" alt="" />
	<img src="/application/includes/images/slider/education/sheet1.png" data-pos="3" alt="" />
  </div>
  <a href="#" id="leftArrow" class="jcarousel-control-prev active" class="" data-jcarouselcontrol="true"></a>
  <a href="#" id="rightArrow" class="jcarousel-control-next active" data-jcarouselcontrol="true"></a>
  <div class="note">
	<h1>Образование</h1>
	<p>Модернизация образования требует нового качества работы педагогов. Наш институт,  учитывая происходящие процессы обновления содержания образования, появление новых педагогических технологий, организует курсы повышения квалификации и профессиональной переподготовки.</p>
	<a href="#" class="more_button"></a>
  </div>
</div>		  

<!-- <p class="jcarousel-pagination" data-jcarouselpagination="true">
  <a href="#1" class="">1</a>
  <a href="#2" class="">2</a>
  <a href="#3" class="active">3</a>
  <a href="#4" class="">4</a>
</p>
 -->
</div>


<!-- <div id="slider_jsp">
  <div id="scroll_left">
    <div class="scroll-pane left_pane">
        <div id="wrap_left">
          {slides}
            <div class="item {?active}active{/?active} {?first}first{/?first}" id="id{id}" data-num={#}>
              <a href="{link}">
                <span>{title}</span>
              </a>
              <div class="note">
                <p>{note}</p>
              </div>
            </div>
          {/slides}
        </div>
    </div>
  </div>
  <div id="scroll_right">
    <div class="scroll-pane right_pane">
        <div id="wrap_right">
          {slides}
            <div class="item {?active}active{/?active} " id="rid{id}" data-num={#}>
              <a href="{link}">
                <span>{title}</span>
              </a>
              <div class="note">
                <p>{note}</p>
              </div>
            </div>
          {/slides}
        </div>
    </div>
  </div>
</div>
<div class="slider_bg">
  <div class="images hide">
    <img src="/application/includes/images/slider/education/sheet3.png" data-pos="1" alt="" />
    <img src="/application/includes/images/slider/education/sheet2.png" data-pos="2" alt="" />
    <img src="/application/includes/images/slider/education/sheet1.png" data-pos="3" alt="" />
  </div>
  <div class="images">
    <img src="/application/includes/images/slider/education/sheet3.png" data-pos="1" alt="" />
    <img src="/application/includes/images/slider/education/sheet2.png" data-pos="2" alt="" />
    <img src="/application/includes/images/slider/education/sheet1.png" data-pos="3" alt="" />
  </div>
  <a href="#" id="leftArrow" class="active"></a>
  <a href="#" id="rightArrow" class="active"></a>
  <div class="note">
    <h1>Образование</h1>
    <p>Модернизация образования требует нового качества работы педагогов. Наш институт,  учитывая происходящие процессы обновления содержания образования, появление новых педагогических технологий, организует курсы повышения квалификации и профессиональной переподготовки.</p>
    <a href="#" class="more_button"></a>
  </div>
</div> -->