{wysiwyg}
<h2>Главная страница</h2>
<form action="/admin/config/add/" method="post" class="page_form" enctype="multipart/form-data">
	
	<fieldset>
		<a href="#" class="toggler">
			<span class="arrow"></span>
			<span>Описание для поисковых систем</span>
		</a>
		<div>
			<label for="title_index">Описание на главной странице (тег &lt;META name="description"&gt;)</label>
			<input type="text" name="meta_description" class="text_field" value="{meta_description}" />
			
			<label for="title_index">Ключевые слова на главной странице (тег &lt;META name="keywords"&gt;)</label>
			<textarea class="text_field" name="meta_keywords">{meta_keywords}</textarea>
		</div>
	</fieldset>

	<fieldset>
		<a href="#" class="toggler">
			<span class="arrow"></span>
			<span>Акции</span>
		</a>
		<div>
			<label for="actions_id">Идентификатор раздела</label>
			<input type="text" name="actions_id" class="text_field min" value="{actions_id}" />

			<label for="actions_link">Ссылка</label>
			<input type="text" name="actions_link" class="text_field" value="{actions_link}" />
		</div>
	</fieldset>

	<fieldset>
		<a href="#" class="toggler">
			<span class="arrow"></span>
			<span>Новости</span>
		</a>
		<div>
			<label for="news_id">Идентификатор раздела</label>
			<input type="text" name="news_id" class="text_field min" value="{news_id}" />

			<label for="news_link">Ссылка</label>
			<input type="text" name="news_link" class="text_field" value="{news_link}" />
		</div>
	</fieldset>

	<fieldset>
		<a href="#" class="toggler">
			<span class="arrow"></span>
			<span>Отзывы</span>
		</a>
		<div>
			<label for="reviews_id">Идентификатор раздела</label>
			<input type="text" name="reviews_id" class="text_field min" value="{reviews_id}" />

			<label for="reviews_link">Ссылка</label>
			<input type="text" name="reviews_link" class="text_field" value="{reviews_link}" />
		</div>
	</fieldset>

<!-- 	<fieldset>
		<label for="main_text">Текст главной страницы</label>
		<textarea name="main_text" class="mceEditor">{main_text}</textarea>
	</fieldset> -->
	
	<fieldset class="yellow">
		<input type="submit" value="Сохранить" class="submit" />
	</fieldset>
</form>