<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/admin/application/includes/css/base.css" type="text/css" rel="stylesheet" />
	<link href="/admin/application/includes/css/forms.css" type="text/css" rel="stylesheet" />
	<link href="/admin/application/includes/css/style.css" type="text/css" rel="stylesheet" />
	<link href="/admin/application/includes/css/listing.css" type="text/css" rel="stylesheet" />
	<link href="/admin/application/includes/css/uploadify.css" type="text/css" rel="stylesheet" />
	<link href="/admin/application/includes/css/ui/ui.all.css" type="text/css" rel="stylesheet" />
	<link href="/admin/application/includes/css/helper.css" type="text/css" rel="stylesheet" />

	
	<script type="text/javascript" src="/admin/application/includes/js/jquery.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/jquery.form.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/jquery.MultiFile.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/jquery.ui.custom.min.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/jquery.ui.datepicker-ru.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/uploadify/swfobject.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/uploadify/jquery.uploadify.min.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/functions.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/mod_yandex_maps.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/mod_multi_upload.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/mod_video.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/mod_catalog.js"></script>
	<script type="text/javascript" src="/admin/application/includes/js/helper.js"></script>
	<!-- <script src="http://api-maps.yandex.ru/1.1/index.xml?loadByRequire=1&key={mapkey}" type="text/javascript"></script> -->
	
	<!--[if lt IE 7]>
		<link href="/admin/application/includes/css/ie6_fix.css" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<!--[if IE 7]>
		<link href="/admin/application/includes/css/ie7_fix.css" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<title>TimeITWeb</title>
</head>
<body>
	<div id="shadow"></div>
	<div id="main">
		<div id="head">
			<div id="right_head">
				<a href="/{admin_dir}/" style="float: right;">TimeITWeb</a>
				
				<p id="version">
					<span style="float: right; display: inline-block;">{version}</span>
					<a class="logout" href="/admin/login/logout/">выйти</a>
					<span style="float: right; display: inline-block; margin-right: 20px;">Здравствуйте, <b>{user_name}</b></span>
				</p>
			</div>
			<h1>{site_org}</h1>
			<a href="/">(смотреть сайт)</a>
		</div>
		<div id="content">
			<div id="left">
				<h2>Структура сайта</h2> 
				<div id="menu">{menu_block}</div>
				<h2>Дополнительные модули</h2> 
				<ul>
					<li><a href="/admin/slides/" class="natf_button">Слайдер на главной</a></li>
					<!-- <li><a href="/admin/mailer/" class="distribution_button">Рассылка</a></li> -->
					<!-- <li><a href="/admin/catalog/techchar/" class="catalog_page_button">Существенные характеристики каталога</a></li> -->
					<!-- <li><a href="/admin/feedback/" class="feedback_forms_button">Формы обратной связи</a></li> -->
					<!-- {banners} -->
					<li><a href="/admin/question/" class="question_button">Голосование</a></li>
					{main_link}
					<!-- {role_link} -->
				</ul>
				{add_btn}
				<ul id="second_menu">
					<li><a href="/admin/trash/">Корзина</a></li>
					{struct}
					{configs}
					<!-- {reserv}
					{tehpodd} -->
				</ul>
			</div>
			<div id="content_path">
				{menu_js}
				{content_path}
			</div>
		</div>
	</div>
	{alert}
</body>
</html>