#left #menu ul {
	position:relative;
	margin:-18px 0 0 0;
}
.modules .inline {
	display:inline;
	vertical-align:middle;
}
.modules span label {
	display:inline;
	padding:0 0 5px 0;
	margin:0 10px;
}
#datepicker_button {
	position:relative;
	top:-8px;
	margin:0 0 0 5px;
}
.images_listing li {
	display:block;
	float:left;
}

#loginForm .text_field {
	font:bold 16px/38px Arial;
}