<div id="faq">
	<div class="top">
		<h1>{pageTitle}</h1>
		<a href="#" class="ask_question_button">Задайте вопрос</a>
		<span>наши специалисты постараются на него ответить.</span>

	</div>
	<div class="clear"></div>
	<div class="questions">
		<ul>
			<li class="faq_item">
 				<div class="question">
					<div class="avatar">
	 					<img src="/application/includes/images/comments/comments_fotot3.png" alt="" width="130" height="130"/>
	 					<div class="photo_frame"></div>
	 				</div>
	 				<div class="right_text">
		 				<p class="fio">Дроздова Юлия Сергеевна</p>
		 				<span class="date">12 июня 2014</span>
		 				<div class="post">
		 					<div class="yellow_line"></div>
		 					<div class="line_bg"></div>
		 				</div>
		 				<p class="review">
		 					Подскажите сколько стоит пройти курс "Информационная безопасность"?
		 				</p>
	 				</div>
 				</div>
 				<div class="answer">
 					<p class="ans">Ответ:</p>
					<p class="ans_txt">Всю информацию касаемо курсов вы можете найти в разделе курсы.</p>
 				</div>
			</li>
			<li class="faq_item">
 				<div class="question">
					<div class="avatar">
	 					<img src="/application/includes/images/comments/comments_fotot3.png" alt="" width="130" height="130"/>
	 					<div class="photo_frame"></div>
	 				</div>
	 				<div class="right_text">
		 				<p class="fio">Дроздова Юлия Сергеевна</p>
		 				<span class="date">12 июня 2014</span>
		 				<div class="post">
		 					<div class="yellow_line"></div>
		 					<div class="line_bg"></div>
		 				</div>
		 				<p class="review">
		 					Подскажите сколько стоит пройти курс "Информационная безопасность"?
		 				</p>
	 				</div>
 				</div>
 				<div class="answer">
 					<p class="ans">Ответ:</p>
					<p class="ans_txt">Всю информацию касаемо курсов вы можете найти в разделе курсы. Всю информацию касаемо курсов вы можете найти в разделе курсы. Всю информацию касаемо курсов вы можете найти в разделе курсы. Всю информацию касаемо курсов вы можете найти в разделе курсы. Всю информацию касаемо курсов вы можете найти в разделе курсы.</p>
 				</div>
			</li>
			<li class="faq_item">
 				<div class="question">
					<div class="avatar">
	 					<img src="/application/includes/images/comments/comments_fotot3.png" alt="" width="130" height="130"/>
	 					<div class="photo_frame"></div>
	 				</div>
	 				<div class="right_text">
		 				<p class="fio">Дроздова Юлия Сергеевна</p>
		 				<span class="date">12 июня 2014</span>
		 				<div class="post">
		 					<div class="yellow_line"></div>
		 					<div class="line_bg"></div>
		 				</div>
		 				<p class="review">
		 					Подскажите сколько стоит пройти курс "Информационная безопасность"?
		 				</p>
	 				</div>
 				</div>
 				<div class="answer">
 					<p class="ans">Ответ:</p>
					<p class="ans_txt">Всю информацию касаемо курсов вы можете найти в разделе курсы.</p>
 				</div>
			</li>
			<li class="faq_item">
 				<div class="question">
					<div class="avatar">
	 					<img src="/application/includes/images/comments/comments_fotot3.png" alt="" width="130" height="130"/>
	 					<div class="photo_frame"></div>
	 				</div>
	 				<div class="right_text">
		 				<p class="fio">Дроздова Юлия Сергеевна</p>
		 				<span class="date">12 июня 2014</span>
		 				<div class="post">
		 					<div class="yellow_line"></div>
		 					<div class="line_bg"></div>
		 				</div>
		 				<p class="review">
		 					Подскажите сколько стоит пройти курс "Информационная безопасность"?
		 				</p>
	 				</div>
 				</div>
 				<div class="answer">
 					<p class="ans">Ответ:</p>
					<p class="ans_txt">Всю информацию касаемо курсов вы можете найти в разделе курсы.</p>
 				</div>
			</li>
		</ul>
	</div>
</div>

<!--
{filesBlock}
{galleryBlock}
{subsectionBlock}
{recallsList}
{recallsBlock}
{feedbackBlock}-->