<div id="faq">
	<div class="top">
		<h1>{pageTitle}</h1>
		<a href="/popup/fancy_faq/" class="ask_question_button fancy" data-fancybox-type="ajax" data-pid="{id}">Задайте вопрос</a>
		<span>наши специалисты постараются на него ответить.</span>

	</div>
	<div class="clear"></div>
	<div class="questions">
		<ul>
			{list}
			<li class="faq_item">
 				<div class="question">
					<div class="avatar">
	 					<img src="/application/includes/images/no_avatar.png" alt="" width="130" height="130"/>
	 					<div class="photo_frame"></div>
	 				</div>
	 				<div class="right_text">
		 				<p class="fio">{fioUser}</p>
		 				<span class="date">{dateQuestion}</span>
		 				<div class="post">
		 					<div class="yellow_line"></div>
		 					<div class="line_bg"></div>
		 				</div>
		 				<p class="review">
		 					{question}
		 				</p>
	 				</div>
 				</div>
 				<div class="answer">
 					<p class="ans">Ответ:</p>
					{answer}
 				</div>
 				<div class="clear"></div>
			</li>
			{/list}
		</ul>
		{pagination}
	</div>
</div>

<!--
{filesBlock}
{galleryBlock}
{subsectionBlock}
{recallsList}
{recallsBlock}
{feedbackBlock}-->