{actions_title}
<a href="{url}" class="title"><h2>{title}</h2></a>
{/actions_title}

<ul id="actions_block">
	{actions_list}
		<li class="action_item">
			<img src="/application/includes/actions/b/{id}.jpg" alt="" width="185" height="285">
			<div><a href="{url}">{title}</a></div>
		</li>
	{/actions_list}
</ul>

{news_title}
<a href="{url}" class="title"><h2>{title}</h2></a>
{/news_title}

<ul id="public_block">
	{news_list}
	<li class="public_item">
		<a href="{url}"><span>{title}</span></a>
	</li>
	{/news_list}
</ul>