<h1 class="courses_h1">Курсы</h1>
<div class="select_outer">
	<select name="subtype" id="subtype">
		<option value="0" {selected}>все</option>
		{subtype}
		<option value="{id}" {selected} data-url='{url}'>{title}</option>
		{/subtype}
	</select>
</div>
<div class="clear"></div>
<div class="text_bg">
	<ul id="product">
		{product}
		<li>
			<div class="info">
				<span class="number">{#}. </span>
				<p class="title">{title}</p>
				<div class="clear"></div>
			</div>
			<div class="right">
				<div class="hours_link">
					<p class="hour">от 72 до 500 ч.</p>
					<a class="link" href="{url}">подробнее...</a>
				</div>
				<a class="signup_button" href="#"></a>
			</div>
			<div class="clear"></div>
		</li>
		{/product}
	</ul>
</div>