<h1 class="courses_h1">Курсы</h1>
<div class="select_outer">
	<select name="subtype" id="subtype">
		<option value="0" {selected}>все</option>
		{subtype}
		<option value="{id}" {selected} data-url='{url}'>{title}</option>
		{/subtype}
	</select>
</div>
<div class="clear"></div>
<div class="text_bg">
<div class="left_block">
	{productBlock}
</div>
<div class="right_block">
	{actions_news_block}
</div>
</div>

<script type="text/javascript">
	(function($) {
		$(document).ready(function() { 
			$('.action_item div').each(function(){
				m_height = $('.action_item').height();
				d_height = $(this).outerHeight(true);
				css_top = (m_height - d_height)/2;
				$(this).css('top', css_top+'px');
			})
		});

	})(jQuery);
</script>