<div class="services">
<ul>
  <li class="first">
    <img src="/application/includes/images/blocks/0.jpg" alt="" />
    <a href="{first_link}">{first_text}</a>
  </li>
  <li class="flex">&nbsp</li>
  <li class="first">
    <img src="/application/includes/images/blocks/1.jpg" alt="" />
    <a href="{second_link}">{second_text}</a>
  </li>
  <li class="flex">&nbsp</li>
  <li class="first">
    <img src="/application/includes/images/blocks/2.jpg" alt="" />
    <a href="{third_link}">{third_text}</a>
  </li>
</ul>
</div>