{wysiwyg}
<h2><a href="/admin/reviews/view/{pid}">{main_title}</a> / <a href="/admin/reviews/view_items/{pid}">Список вопросов</a> / {question}</h2>
<form action="/{admin_dir}/reviews/answer/" method="post" class="page_form" enctype="multipart/form-data">
	<fieldset>
		<label for="fioUser">ФИО пользователя</label>
		<input type="text" name="fioUser" value="{fioUser}" class="text_field"/>
	</fieldset>
	<fieldset>
		<label for="postSpecialist">Должность</label>
		<input type="text" name="postSpecialist" value="{postSpecialist}" class="text_field"/>
	</fieldset>
	<fieldset>
		<label for="character_image">Характеризующая картинка</label>
		<input type="file" name="character_image" /> {character}
	</fieldset>
	<fieldset>
		<label for="question">Отзыв</label>
		<textarea name="question" class="text_field small_wisy">{question}</textarea>
	</fieldset>
	<fieldset>
		<label for="question">Время создания отзыва</label>
		<nobr>
			<input type="text" name="date" value="{date}" readonly="readonly" class="min text_field" id="date_input" />
			<span>&nbsp;&nbsp;&nbsp;</span>
			<input type="text" name="date_h" value="{date_h}" class="text_field" style="width:22px" maxlength="2" />
			<span> : </span>
			<input type="text" name="date_m" value="{date_m}" class="text_field" style="width:22px" maxlength="2" /></nobr>
	</fieldset>
	<fieldset>
		<label for="active" class="left">Видимость</label>
		<input type="checkbox" name="active" {active_checked} class="left" id="active" /><br clear="all"/>
	</fieldset>
	<fieldset class="yellow">
		<input type="hidden" name="id" value="{id}" />
		<input type="hidden" name="pid" value="{pid}" />
		<input type="submit" value="Сохранить" class="submit" />
		{delete_page}
	</fieldset>
</form>