<div class="menu_block">
	<a href="/" class="logo"><img src="/application/includes/images/head_logo.png" alt="" /></a>
	<a href="/" class="logo_text">{logo_text}</a>
	<div class="head_info">
		<p>Добро пожаловать на сайт,</p>
		<a href="#"><span>Гость</span></a>
	</div>	
	<div class="menu_content">
		<ul id="menu">	
			{list}			
				<li class="main_menu {?last_item}last{/?last_item}{?first_item}first{/?first_item} {?is_parent}parent{/?is_parent} {?is_active}{is_active}{/?is_active}">
					<div class="left"></div>
					<div class="right"></div>
					<a class ="m_it" href="{url}">
						<span>{title}</span>
					</a>
					{childs}
				</li>
			{/list}
		</ul>
	</div>
</div>