<div class="menu_block">
	<a href="/" class="logo"><img src="/application/includes/images/head_logo.png" alt="" /></a>
	<a href="/" class="logo_text">{logo_text}</a>
	{?auth}
	<div class="head_info auth">
		<p>Добро пожаловать на сайт,</p>
		<a href="/profile/"><span>{auth_title}</span></a>
	</div>
	{/?auth}		
	{!auth}
	<div class="head_info not_auth">
		<a href="javascript:void(0);" ><span>Вход</span></a>
	</div>
	{/!auth}	
	<div class="login_block">
		<span>Введите</span>
		<form action="/profile/login/" method="post" >
			<fieldset>
				<input type="text" name="login" id="login" placeholder="логин">
				<input type="password" name="pass" id="password" placeholder="и пароль">
				<div></div>
			</fieldset>
			<input type="hidden" name="remember" id="checkbox" value="1">
			<a href="#" class="enter_button submit_button"></a>
			<div class="clear"></div>
		</form>
	</div>
	<div class="menu_content">
		<ul id="menu">	
			{list}			
				<li class="main_menu {?last_item}last{/?last_item}{?first_item}first{/?first_item} {?is_parent}parent{/?is_parent} {?is_active}{is_active}{/?is_active}">
					<div class="left"></div>
					<div class="right"></div>
					<a class ="m_it" href="{url}">
						<span>{title}</span>
					</a>
					{childs}
				</li>
			{/list}
		</ul>
	</div>
</div>