<div class="menu_block">
	<form action="/popup/search/view/" method="POST" class="formSearch">
		<input type="text" id="search" name="search_text" placeholder="Поиск по сайту">
		<a href="#" id="search_btn" class="submit_button">&nbsp</a>
	</form>
	<!-- <div class="fon"> -->
		<ul id="menu">	
			{list}			
				<li class="main_menu {?last_item}last{/?last_item}{?first_item}first{/?first_item} {?is_parent}parent{/?is_parent} {?is_active}{is_active}{/?is_active}">
					<div class="td_left"></div>
					<a class ="m_it" href="{url}">
						<span>{title}</span>
					</a>
					<div class="td_right"></div>
					{childs}
				</li>
			{/list}
		</ul>
	<!-- </div> -->
</div>