	<script type="text/javascript">
	   var helperCode = {json};
	</script>
	<div id="helperOuter">
	  <div id="helperMenu">
		<h2>Помощь</h2>
		<ul id="helperMenuList">
		  
		</ul>
	    <div id="helperContact">
		  Если Вы не нашли ответа на свой вопрос, то можете его <br/> <a href="/admin/config/question/">Задать нашему специалисту</a>
		</div>
	  </div>
	  <div id="helperContent">
	    <div id="helperSlideShow">
		  <a href="#" id="helperSlideShowLeft"></a>
		  <a href="#" id="helperSlideShowRight"></a>
		  <ul>
		    
		  </ul>
		</div>
		<div id="helperSlideNavigation">
		  <div class="grayLine"></div>
		  <a id="helperSlideStart" href="#"></a>
		  <a id="helperSlideEnd" href="#"></a>
		</div>
		<div id="helperSlideText"></div>
	  </div>
	  <div id="helperClose">
	    <a href="#" title="Закрыть"></a>
	  </div>
	</div>