<div id="interview_block">
	<form method="post" action="/popup/question/send/{pid}/" name="question" id="question">
		<div class="question">
		  <p class="bold">- {title}:</p>
		  {question}
		</div>
		<a href="#" class="answer_button inactive submit_button"></a>
		<div class="radiobuttons">
			{answer_list}
		  	<fieldset>
		    	<input id="radio_{id}" type="radio" name="answer" data-count="{#}" value="{id}">
		     	<label for="radio_{id}">{answer}</label>
		    </fieldset>
		    {/answer_list}
		</div>
	</form>
</div>