<div class="page_container">
	<a name="top"></a>
	{list}
		<div class="one_new {li_class}" style="{style}">
			{img}
			<div class="note_wrap">
				<h2><a href="{url}">{list_title}</a></h2>
				<!-- <h2><a href="/portfolio/{pid}/{year}/{month}/{id}">{title}</a></h2> -->
				<div class="portfolio_note">
				<!-- <span class = "portfolio_date">{date}</span> -->
				<p>{note}</p>
				</div>
				
				<a href="{url}" class="continue">Подробнее</a>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	{/list}

	{pagination}

</div>
<!-- <h3>Наши партнеры</h3>

<div class = "portfolio_partners_block">
	{our_partners}
	<div class = "one_partner">
		<a href = "{url}"><img src = "/application/includes/partners/{id}.jpg"></a>
		<a href = "{url}">{title}</a>
		
	</div>
	
	{/our_partners}
			<div class = "clear"></div>
</div> -->

