{wysiwyg}
<h2>{title_product} / {main_title}</h2>
<form action="/{admin_dir}/catalog/save_product/{cid}/{pid}/{id}/" method="post" class="page_form" enctype="multipart/form-data">

	<fieldset>
		<label for="title_category">Категория</label>
		<select name="pid" class="text_field">
			<!-- <option value="0">[Корень]</option> -->
			{category_list}
			<option value="{cat_id}" {cat_select}>{cat_title}</option>
			{/category_list}
		</select>
	</fieldset>
	<fieldset>
		<label for="title_category">Название продукта</label>
		<input type="text" name="title" class="text_field" value="{title}" {!id}onkeyup="translit($(this).val());" onchange="translit($(this).val());" {/!id}/>
		<label for="title_category">Название страницы</label>
		<input type="text" name="taitle" class="text_field" value="{taitle}" />
	</fieldset>
	<fieldset>
		<label for="alias" class="block">URL (например, turmalin)</label>
		<input type="text" name="alias" id = "url" value="{alias}" class="text_field"/>
	</fieldset>
	<fieldset>
		<a href="#" class="toggler">
			<span class="arrow"></span>
			<span>Описание для поисковых систем</span>
		</a>
		<div>
			<label for="description">Описание страницы</label>
			<input type="text" class="text_field" name="description" value="{description}"/>
			<label for="keywords">Ключевые слова</label>
			<input type="text" class="text_field" name="keywords" value="{keywords}" />
		</div>
	</fieldset>	
	<!-- <fieldset>
		<label for="note">Краткое описание</label>
		<textarea name="note" class="text_field" id="note_id">{note}</textarea>
	</fieldset> -->

	<!-- <fieldset>
		<label for="big_img">Основное изображение (квадратное)</label>
		<input type="file" name="big_img" /> {big_img}
		<a href="/application/includes/catalog/catalog_product/b/{id}.png" target="_blank">Смотреть</a> -->
<!-- 		<br/>
		<br/>

		<label for="big_img">Дополнительные изображения товаров</label>
		<fieldset id="multiload_file">
			<input type="file" name="img[]" id="dl_file" />
			<div class="file_name">
				<span class="filename"></span>
				<span class="delfile"><img src="/admin/application/includes/images/cancel.gif" border="0"></span>
			</div>
			<div class="div_add_file"><a href="#" class="add_file" style="padding: 2px 60px 2px 64px;">Добавить изображение...</a></div>
			<div class="clear"></div>
		</fieldset>
		<div class="uploaded_img">
			{minigallery}
				<div class="img_item">
					<img src="/application/includes/catalog/catalog_product/d/s/{id}.png" alt="" width="75px" height="75px"/>
					<a href="#" class="del_img" data-id="{id}" data-pid="{pid}"></a>
				</div>
			{/minigallery}				
		</div> -->
	<!-- </fieldset> -->
	<fieldset>
		<label>Текст</label>
		<textarea name="text" class="mceEditor" id="text">{text}</textarea>
	</fieldset>
	<fieldset>
		<label>Часы</label>
		<input type="text" name="hours" class="text_field" value="{hours}" />
	</fieldset>
	<!-- <fieldset>
		<h2>Существенные характеристики</h2>
		{tchars}
				<input type="hidden" name="techchar_id[]" value="{techchar_id}">
				<label for="techchar_value">{techchar_title}</label>
				<input name="techchar_value[]" class="text_field" value="{techchar_value}" />
		{/tchars}
	</fieldset> -->
	
	<!--
	<fieldset>
		<label for="title_category">Стоимость</label>
		<input type="text" name="price" class="text_field" value="{price}" style="width: 100px;" /> руб.
	</fieldset>	
	<fieldset>
		<label for="text" class="block">Текст страницы</label>
		<textarea name="text" class="text_field" id="text_id">{text}</textarea>
	</fieldset>
	-->
	<fieldset class="yellow">
		<input type="submit" value="Сохранить" />
		{delete_button}
	</fieldset>
</form><br clear="all"/>
<h2>Дополнительные модули</h2>
{photos_block}
{images_block}
{files_block}
{videos_block}