{?product}
<a class="all_courses_button" href="{catalog_url}">смотреть все курсы</a>
<div class="product_nav">
  <p class="gray_txt">Курс:</p>
  <p class="titles">{subcategory_title}</p>
  <p class="gray_txt">по направлению:</p>
  <p class="titles">{category_title}</p>
  <p class="time">от 72 до 500 часов</p>
</div>
{/?product}

<div class="feedbox" {?product}style="margin-right: 30px; margin-left: 0px; margin-top: 30px;"{/?product}>
	<div class="feedback">
		<h2>Хочу записаться</h2>
		<!-- <h2>{header_feedback}</h2> -->
		<div class="tdline"></div>
		<div class="clear"></div>

		<div id="ask_question_form" class="content_block_inner">
			<form id="faqForm" class="form" action="/popup/all/feedback/" method="post" onsubmit="return CheckFeedbackForm($(this));">
				<input type="hidden" name="pid" value="{id}" />
				<fieldset>
					<label for ="fio">меня зовут: <span>*</span></label>
					<input type="text" name="fio" id="fio" placeholder="ФИО" rel=""/>
				</fieldset>	
				<fieldset>
					<label for ="phone">мой контактный телефон: <span>*</span></label>
					<input type="text" name="phone" id="phone" placeholder="+7(___)___-__-__" rel=""/>
				</fieldset>
				<fieldset>
					<label for ="email">и адрес электронной почты: <span>*</span></label> 
					<input type="text" name="email" id="email" placeholder="info@primer.com" rel=""/>
				</fieldset>
				<div class="clear"></div>
				<fieldset class="field_capcha">
					<label for ="capcha">код подтверждения: <span>*</span></label> 
					<input type="text" name="capcha" id="capcha"/>
					<img src="/popup/captcha/cap" />
				</fieldset>
				<fieldset class="buttonfield"> 
					<label><span>*</span> Все поля формы обязательны для заполнения</label>
					<a href = "#" class = "submit_button confirm_button">
						<span>ЗАПИСЫВАЮСЬ</span>
					</a>
				</fieldset>
				<div class ="clear"></div>
			</form>
		</div>
	</div>
</div>


<script type="text/javascript">
	(function($) {
			CheckFeedbackForm = function(form) {
				var errors = [];
				var obj = form.find('#fio');
				if (obj.val() == '' || obj.val() == obj.attr('placeholder')) errors.push('Введите свое имя');

				obj = form.find('#phone');
				if (obj.val() == '' || obj.val() == obj.attr('placeholder')) errors.push('Введите номер телефона');

				obj = form.find('#email');
				if (obj.val() == '' || obj.val() == obj.attr('placeholder')) errors.push('Введите электронную почту');
				
				if (obj.val() != '') {
					var template = /^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z])+$/;
					if (! template.test(obj.val())) {
						errors.push('Введен не корректный e-mail');
					}
				} else {
					// errors.push('Введите свой e-mail');
				}
	
				obj = form.find('#capcha');
				if (obj.val() == '' || obj.val() == obj.attr('placeholder')) errors.push('Введите защитный код');
				
				if (errors.length > 0) {
					alert(errors.join('\n\r'));
					return false;
				}
				return true;
			}
		})(jQuery);
</script>