	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{meta_keywords}">
	<meta name="description" content="{meta_description}">
	<title>{site_title}</title>
	
	<link rel="stylesheet" type="text/css" href="/application/includes/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/jquery.jscrollpane.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/ui.datepicker.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/base.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/jquery.fancybox.css">
	<link rel="stylesheet" type="text/css" href="/admin/application/includes/css/content.css">
	
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">

	<script type="text/javascript" src="/application/includes/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/application/includes/js/jquery-ui-1.10.0.custom.min.js"></script>
	<script type="text/javascript" src="/application/includes/js/elastic.js"></script>
	<script type="text/javascript" src="/application/includes/js/jquery.jcarousel.min.js"></script>
	<!-- // <script type="text/javascript" src="/application/includes/js/snowstorm.js"></script> -->
