	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{meta_keywords}">
	<meta name="description" content="{meta_description}">
	<title>{site_title}</title>
	<!--
	<link rel="stylesheet" type="text/css" href="/application/includes/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/main.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/header.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/main_menu.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/links.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/news.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/questions.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/search.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/profile.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/jquery.jscrollpane.css">
	
	<link rel="stylesheet" type="text/css" href="/admin/application/includes/css/content.css"/>
	<link rel="stylesheet" type="text/css" href="/application/includes/css/base.css">
	-->
	<link rel="stylesheet" type="text/css" href="/application/includes/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/application/includes/css/style.css">
	<link rel="stylesheet" type="text/css" href="/admin/application/includes/css/content.css"/>
	
	<link rel="shortcut icon" type="image/gif" href="/favicon.gif" />
	
	<script type="text/javascript" src="/application/includes/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="/application/includes/js/jquery-ui-1.8.min.js"></script>
	<script type="text/javascript" src="/application/includes/js/jquery.form-2.43.js"></script>
	<script type="text/javascript" src="/application/includes/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/application/includes/js/swfobject.js"></script>
	<script type="text/javascript" src="/application/includes/js/jquery_mousewheel_plugin.js"></script>
	<script type="text/javascript" src="/application/includes/js/jquery.jscrollpane.min.js"></script>
	<script type="text/javascript" src="/application/includes/js/iepngfix_tilebg.js"></script>
	<script type="text/javascript" src="/application/includes/js/functions.js"></script>
	
	<script type="text/javascript" src="/application/includes/js/base.js"></script>
	<script type="text/javascript" src="/application/includes/js/catalog.js"></script>
	<script type="text/javascript" src="/application/includes/js/profile.js"></script>
	<script type="text/javascript" src="/application/includes/js/jquery.ui.datepicker-ru.js"></script>
		
	<!--[if lt IE 7]>

	<![endif]-->
	<!--[if IE 6]>
	<style type="text/css">
	img, div { behavior: url(/application/includes/js/iepngfix.htc); }
	</style>
	<![endif]-->
	<!--[if IE]>
	<style>

	</style>
	<![endif]-->
	<!--
	<script charset="utf-8" type="text/javascript" src="http://api-maps.yandex.ru/1.0/?key={mapkey}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			{map_list}
				var map{map_id} = new YMaps.Map(document.getElementById('map_{map_id}'));
				map{map_id}.setCenter(new YMaps.GeoPoint({center_latitude}, {center_longitude}), {zoom});
				{placemark_list}
				map{map_id}.addControl(new YMaps.TypeControl());
				map{map_id}.addControl(new YMaps.ToolBar());
				map{map_id}.addControl(new YMaps.Zoom());
				map{map_id}.addControl(new YMaps.ScaleLine());
			{/map_list}
		});
	</script>
	-->