<h1 class="title">{title}</h1>
<div class="clear"></div>

<div class="content">
	{text}
	{text_info}
	<!-- </br>
	<h3>Задача</h3>
	<p>{task}</p>
	</br>
	<h3>Что сделано</h3>
	<p>{created}</p>
	</br>
	<h3>Результат</h3>
	<p>{result}</p>
	</br>
	{?review}<h3>Отзыв</h3>
	<div class ="partners_bordered_block">
		<h3>{review_head}</h3>
		<p>{review}</p>
		<div class = "clear"></div>
	</div>
	{/?review}
	</br> -->
<!-- 	{?another_projects_list}
	<h3>Другие проекты</h3>
	<div class ="partners_another_projects_block">
		{another_projects_list}
		<div class = "another_project">
			<a href = "/partners/{pid}/1/1/{id}"><img src = "/application/includes/partners/{id}.jpg"></a>
			<a href = "/partners/{pid}/1/1/{id}">{title}</a>
			
		</div>
		
		{/another_projects_list}
				<div class = "clear"></div>
	</div>
	{/?another_projects_list} -->
</div>
<!-- <div class="other">
	<span class="date">{date}</span>
</div> -->

{yandexmaps}
{galleryBlock}
{filesBlock}
{feedbackBlock}
<!--
{recallsList}
{recallsBlock}
{vacancy_block}
-->