<div class="feedbox">
	<div class="feedback">
		<h2>Задайте вопрос</h2>
		<!-- <h2>{header_feedback}</h2> -->
		<div class="tdline"></div>
		<div class="clear"></div>

		<div id="ask_question_form" class="content_block_inner">
			<form id="faqForm" class="form" action="/popup/faq/sendQuestion/" method="post" onsubmit="return CheckFeedbackForm($(this));">
				<input type="hidden" name="pid" value="{id}" />
				<fieldset>
					<label for ="surname">фамилия: <span>*</span></label>
					<input type="text" name="surname" id="surname" placeholder="Иванов" value="{name}" rel=""/>
				</fieldset>	
				<fieldset>
					<label for ="name">имя: <span>*</span></label>
					<input type="text" name="name" id="name" placeholder="Иван" value="{lastname}" rel=""/>
				</fieldset>	
				<fieldset>
					<label for ="secname">отчество: <span>*</span></label>
					<input type="text" name="secname" id="secname" placeholder="Иванович" value="{middlename}" rel=""/>
				</fieldset>	
				<fieldset>
					<label for ="phone">мой контактный телефон: </label>
					<input type="text" name="phone" id="phone" placeholder="+7(___)___-__-__" value="{tel}" rel=""/>
				</fieldset>
				<fieldset>
					<label for ="email">и адрес электронной почты: <span>*</span></label> 
					<input type="text" name="email" id="email" placeholder="info@primer.com" value="{email}" rel=""/>
				</fieldset>
				<fieldset>
					<label class ="faq_label" for ="question">вопрос: <span>*</span></label>
					<textarea name="question" id="question" class="text_f def_text" placeholder="вопрос" rel=""></textarea>
				</fieldset>
				<div class="clear"></div>
				<fieldset class="field_capcha">
					<label for ="capcha">код подтверждения: <span>*</span></label> 
					<input type="text" name="capcha" id="capcha"/>
					<img src="/popup/captcha/cap" />
				</fieldset>
				<fieldset class="buttonfield"> 
					<label><span>*</span> Все поля формы обязательны для заполнения</label>
					<a href = "#" class = "submit_button confirm_button">
						<span>ОТПРАВИТЬ</span>
					</a>
				</fieldset>
				<div class ="clear"></div>
			</form>
		</div>
	</div>
</div>


<script type="text/javascript">
	ui_init('.feedbox');
	(function($) {
		CheckFeedbackForm = function(form) {
			var errors = [];
			var obj = form.find('#surname');
			if (obj.val() == '') errors.push('Введите свою фамилию');

			var obj = form.find('#name');
			if (obj.val() == '') errors.push('Введите свое имя');

			var obj = form.find('#secname');
			if (obj.val() == '') errors.push('Введите свое отчество');

			obj = form.find('#question');
			if (obj.val() == '' || obj.val() == obj.attr('placeholder')) errors.push('Задайте вопрос');
			
			obj = form.find('#email');
			if (obj.val() == '' || obj.val() == obj.attr('placeholder')) errors.push('Введите электронную почту');
			
			
			if (obj.val() != '') {
				var template = /^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z])+$/;
				if (! template.test(obj.val())) {
					errors.push('Введен не корректный e-mail');
				}
			} else {
				// errors.push('Введите свой e-mail');
			}

			obj = form.find('#capcha');
			if (obj.val() == '' || obj.val() == obj.attr('placeholder')) errors.push('Введите защитный код');
			
			if (errors.length > 0) {
				alert(errors.join('\n\r'));
				return false;
			}
			return true;
		}
	})(jQuery);
</script>