<div><h2>Голосование</h2></div>
{header_visible}
<ul class="listing">
	{question_visible_list}
	<li>
		<a href="/{admin_dir}/question/delete/{id}/" class="delete_button" onClick="if(!confirm('Вы действительно хотите удалить этот опрос?')) return false;">&nbsp;</a>
		<small style="color: gray;">{date_begin} &ndash; {date_end}</small> <a href="/{admin_dir}/question/item/{id}/">{question}</a>
		
	</li>
	{/question_visible_list}
</ul>
{header_unvisible}
<ul class="listing">
	{question_unvisible_list}
	<li>
		<a href="/{admin_dir}/question/delete/{id}/" class="delete_button" onClick="if(!confirm('Вы действительно хотите удалить этот опрос?')) return false;">&nbsp;</a>
		<small style="color: gray;">{date_begin} &ndash; {date_end}</small> <a href="/{admin_dir}/question/item/{id}/">{question}</a>
		
	</li>
	{/question_unvisible_list}
</ul>
<div class="yellow">
	<button onClick="window.location='/{admin_dir}/question/item/';">Добавить</button>
</div>