<h2>Голосование</h2>
<form action="/{admin_dir}/question/edit_main/" method="post" class="page_form">
	<fieldset>
		<label for="title">Заголовок раздела</label>
		<input type="text" name="data[quest_title_category]" class="text_field" value="{quest_title_category}" />
	</fieldset>
	<fieldset>
		<label for="title">Заголовок блока</label>
		<input type="text" name="data[quest_title_block]" class="text_field" value="{quest_title_block}" />
	</fieldset>
	<fieldset>
		<label for="title">Количество опросов на странице</label>
		<input type="text" name="data[count_question]" class="text_field min" value="{count_question}" />
	</fieldset>
	<fieldset class="yellow">
		<input type="submit" value="Сохранить" />
	</fieldset>
</form>
{header_visible}
<ul class="listing">
	{question_visible_list}
	<li>
		<a href="/{admin_dir}/question/delete/{id}/" class="delete_button" onClick="if(!confirm('Вы действительно хотите удалить этот опрос?')) return false;">&nbsp;</a>
		<small style="color: gray;">{date_begin} &ndash; {date_end}</small> <a href="/{admin_dir}/question/item/{id}/">{question}</a>
		
	</li>
	{/question_visible_list}
</ul>
{header_unvisible}
<ul class="listing">
	{question_unvisible_list}
	<li>
		<a href="/{admin_dir}/question/delete/{id}/" class="delete_button" onClick="if(!confirm('Вы действительно хотите удалить этот опрос?')) return false;">&nbsp;</a>
		<small style="color: gray;">{date_begin} &ndash; {date_end}</small> <a href="/{admin_dir}/question/item/{id}/">{question}</a>
		
	</li>
	{/question_unvisible_list}
</ul>
<div class="yellow">
	<button onClick="window.location='/{admin_dir}/question/item/';">Добавить</button>
</div>