<div id="previews">
	<a href="#" id="leftArrow">
		<div id="triangle-left"></div>
	</a>
	<a href="#" id="rightArrow">
		<div id="triangle-right"></div>
	</a>
	<div id="scroll">
		<div class="scroll-pane">
			<div id="wrap">	
				{imageList}
				<div class="item">
					<a href="/application/includes/img/b/{id}.jpg" class="open_gallery fancy" rel="gallery"><img src="/application/includes/img/l/{id}.jpg" /></a>
					<span class="img_note">{note}</span>
				</div>
				{/imageList}
			</div>
		</div>
	</div>
</div>